- if !management.new_record? && can?(:read, management) # Always have a new record
  .wrapper{ id: "management-#{management.id}" }
    .row.align-center
      .columns.large-24
        .container{ class: (management_counter + 1) == (management_iteration.size - 1) ? nil : 'm-b-0' }
          .row
            .columns.small-24.medium-4
              .management-date
                %strong
                  = l(management.created_at, format: :small)
                %small
                  = l(management.created_at, format: :hour)
            .columns.small-24.medium-20
              .management-info
                %p
                  - if management.assigned_names.present?
                    %strong
                      = management.user.try(:name)
                      asignó a
                    = management.assigned_names
                    %span.blue
                      una
                    %strong.orange
                      = management.full_classification
                  - else
                    %span.blue
                      = management.user.try(:name)
                      se asigno a si mismo un
                    %strong.orange
                      = management.full_classification
                %div
                  = sanitize management.comment
                - if management.assets.any?
                  %br
                  .row
                    .columns
                      = render management.assets
                = render management.comments
                %hr
                .text-right
                  - if management.process?
                    = link_to 'javascript:void(0)', 'data-open' => "commentModal#{management.id}", class: 'btn' do
                      %i.material-icons comment
                      Agregar comentario
                  - if can?(:manage, management) && management.process?
                    = link_to 'javascript:void(0)', 'data-open' => "closeModal#{management.id}", class: 'btn m-l-15' do
                      %i.material-icons close
                      Cerrar gestión
                  - if can?(:manage, management) and can?(:modify, management)
                    = link_to 'javascript:void(0)', 'data-open' => "editModal#{management.id}", class: 'btn m-l-15' do
                      %i.material-icons edit
                      Editar esta gestión
                / Modal comment
                .reveal{id: "commentModal#{management.id}", 'data-reveal' => true}
                  %h2 Agregar comentario
                  .form-popup
                    = form_for management.comments.new, url: panel_management_comments_url(management), html: { id: 'dropzone-expedients', class: 'dropzone', data: {preview: ".dropzone-previews-#{management.id}"} } do |f|
                      .control
                        .row.align-middle.align-justify
                          .columns.small-24
                            = f.text_field :comment, placeholder: 'Escribe un comentario...'
                      .control
                        .row.align-middle.align-justify
                          .columns.small-24
                            .dz-default.dz-message
                              %div{ class: "dropzone-previews-#{management.id}" }
                              %span
                                Arrastre o seleccione acá sus archivos
                      .control
                        .row.align-center.align-justify
                          .columns.small-5
                          .columns.small-18
                            = link_to 'javascript:void(0)', data: { close: '' }, class: 'm-r-15' do
                              %i.material-icons close
                              Cancelar
                            = f.button type: :submit, data: { disable_with: 'Por favor espere...' } do
                              %i.material-icons comment
                              Comentar
                - if can? :manage, management
                  / Modal close management
                  .reveal{id: "closeModal#{management.id}", 'data-reveal' => true}
                    %h2 Cierre de gestión
                    .form-popup
                      = form_for management.events.new, url: close_panel_management_url(management), html: { method: :post } do |f|
                        .control
                          .row.align-middle.align-justify
                            .columns.small-5= f.label :start_at, 'Fecha de cierre', class: 'required'
                            .columns.small-18
                              = f.datetime_select :start_at, {  }, class: 'date'
                              = f.hidden_field :weight, value: 1
                        -# .control
                        -#   .row.align-middle.align-justify
                        -#     .columns.small-5= f.label :weight, "Número de #{management.kind_s.upcase} procesadas", class: 'required'
                        -#     .columns.small-18= f.number_field :weight, value: 1, required: true
                        .control
                          .row.align-middle.align-justify
                            .columns.small-5= f.label :justification, 'Comentario final de cierre', class: 'required'
                            .columns.small-18
                              = f.text_area :justification, rows: 3, required: true
                        .control
                          .row.align-middle.align-justify
                            .columns.small-5= f.label :kind, 'Categoría', class: 'required'
                            .columns.small-18
                              = f.select :kind, options_for_select(Management::KIND.map{|k,v| [v, k, {'data-help' => t("help.#{k}")}]}, management.kind), {prompt: 'Seleccione'}, {required: true, data: {dependent: '', target: "category-management-#{management.id}", with_help: true}}
                              = display_error_for(:kind)
                              .help-text
                        .control
                          .row.align-middle.align-justify
                            .columns.small-5= f.label :management_category_id, 'Subcategoría', class: 'required'
                            .columns.small-18
                              = f.select :management_category_id, grouped_options_for_select(ManagementCategory::grouped_options(@item.institution_id), management.management_category_id), {prompt: 'Seleccione'}, {required: true, class: "category-management-#{management.id}"}
                              = display_error_for(:management_category_id)
                        .control
                          .row
                            .columns.small-24
                              %small * Campos requeridos
                        .control
                          .row.align-center.align-justify
                            .columns.small-5
                            .columns.small-18
                              = link_to '#', data: { close: '' }, class: 'm-r-15' do
                                %i.material-icons close
                                Cancelar
                              = f.button type: :submit, data: { disable_with: 'Guardando...' } do
                                %i.material-icons save
                                Guardar
                - if can?(:manage, management) and can?(:modify, management)
                  / Modal edit management
                  .reveal{id: "editModal#{management.id}", 'data-reveal' => true}
                    %h2 Editar gestión
                    .form-popup
                      = form_for management, url: panel_management_url(management), html: { method: :put } do |f|
                        .control
                          .row.align-middle.align-justify
                            .columns.small-5= f.label :deadline_at, 'Fecha tentativa de entrega', class: 'required'
                            .columns.small-18
                              = f.text_field :deadline_at, class: 'min-datepicker'
                              %small Para tramitar y recibir respuesta de la gestión, tiene #{@response_days} días hábiles, siempre puede cambiar esta fecha dejando constancia en los comentarios de las ampliaciones realizadas.
                        .control
                          .row.align-middle.align-justify
                            .columns.small-5= f.label :comment, "Gestión requerida", class: 'required'
                            .columns.small-18= f.text_area :comment, required: true, rows: 4
                        .control
                          .row.align-middle.align-justify
                            .columns.small-5= f.label :kind, 'Categoría', class: 'required'
                            .columns.small-18
                              = f.select :kind, options_for_select(Management::KIND.map{|k,v| [v, k, {'data-help' => t("help.#{k}")}]}, management.kind), {prompt: 'Seleccione'}, {required: true, data: {dependent: '', target: "edit-category-management-#{management.id}", with_help: true}}
                              .help-text
                              = display_error_for(:kind)
                        .control
                          .row.align-middle.align-justify
                            .columns.small-5= f.label :management_category_id, 'Subcategoría', class: 'required'
                            .columns.small-18
                              = f.select :management_category_id, grouped_options_for_select(ManagementCategory::grouped_options(@item.institution_id), management.management_category_id), {prompt: 'Seleccione'}, {required: true, class: "edit-category-management-#{management.id}"}
                              = display_error_for(:management_category_id)
                        .control
                          .row
                            .columns.small-24
                              %small * Campos requeridos
                        .control
                          .row.align-center.align-justify
                            .columns.small-5
                            .columns.small-18
                              = link_to '#', data: { close: '' }, class: 'm-r-15' do
                                %i.material-icons close
                                Cancelar
                              = f.button type: :submit, data: { disable_with: 'Guardando...' } do
                                %i.material-icons save
                                Guardar
