Hola <%= @user.name %>, <%= @comment.user.try(:name) %> ha comentado en un caso dentro de la plataforma de Atención Ciudadana. A continuación el detalle:


Comentario:
<%= @comment.comment %>

Puede ver este comentario copiando el siguiente enlace en su navegador:

<%= panel_expedient_url(@comment.management.try(:expedient), user_email: @user.email, user_token: @user.authentication_token, anchor: "management-#{@comment.management.id}") %>

https://www.atencionciudadana.sv/panel
Sistema de Atención Ciudadana de El Salvador
