Nuevo caso ingresado en el portal de Atención Ciudadana, a continuación los detalles:

<% if @expedient.branch.present? %>
Dependencia donde sucedió:
<%= @expedient.branch.try(:name) %>
<% end %>

Descripción del caso:
<%= @expedient.comment %>

Nombre:
<%= @expedient.contact %>

Teléfono:
<%= @expedient.phone %>

<% if @expedient.email.present? %>
Correo electrónico:
<%= @expedient.email %>
<% end %>

<% if @expedient.age.present? %>
Edad:
<%= @expedient.age %>
<% end %>

<% if @expedient.state_id.present? %>
Departamento:
<%= @expedient.department.try(:name) %>
<% end %>

<% if @expedient.city_id.present? %>
Municipio:
<%= @expedient.city.try(:name) %>
<% end %>

https://www.atencionciudadana.sv/panel
Sistema de Atención Ciudadana de El Salvador
