Hola <%= @user.name %>, <%= @management.user.try(:name) %> ha solicitado que le dé respuesta a un caso dentro de la plataforma de Atención Ciudadana. A continuación el detalle:


Comentario:
<%= @management.comment %>

Puede ver esta gestión copiando el siguiente enlace en su navegador:

<%= panel_expedient_url(@management.expedient, user_email: @user.email, user_token: @user.authentication_token, anchor: "management-#{@management.id}") %>

https://www.atencionciudadana.sv/panel
Sistema de Atención Ciudadana de El Salvador
