- if @item.new_record?
  %p
    Por favor cree la dependencía para poder configurar sus horarios y asuetos
- else
  = form_for :setting, url: settings_panel_branch_url(@item) do |f|
    .control
      .row.align-middle
        .columns
          %strong
            Horarios de trabajo
    .control
      .row.align-middle
        .columns.small-6.medium-5.large-4= f.label :mon, 'Lunes'
        .columns.small-9.medium-5.large-4= select_tag 'mon[]', options_for_select(Institution.times, @item.settings.mon[0]), {include_blank: 'Entrada', class: 'input-times'}
        .columns.small-9.medium-5.large-4= select_tag 'mon[]', options_for_select(Institution.times, @item.settings.mon[1]), {include_blank: 'Salida', class: 'input-times'}
    .control
      .row.align-middle
        .columns.small-6.medium-5.large-4= f.label :mon, 'Martes'
        .columns.small-9.medium-5.large-4= select_tag 'tue[]', options_for_select(Institution.times, @item.settings.tue[0]), {include_blank: 'Entrada', class: 'input-times'}
        .columns.small-9.medium-5.large-4= select_tag 'tue[]', options_for_select(Institution.times, @item.settings.tue[1]), {include_blank: 'Salida', class: 'input-times'}
    .control
      .row.align-middle
        .columns.small-6.medium-5.large-4= f.label :mon, 'Miércoles'
        .columns.small-9.medium-5.large-4= select_tag 'wed[]', options_for_select(Institution.times, @item.settings.wed[0]), {include_blank: 'Entrada', class: 'input-times'}
        .columns.small-9.medium-5.large-4= select_tag 'wed[]', options_for_select(Institution.times, @item.settings.wed[1]), {include_blank: 'Salida', class: 'input-times'}
    .control
      .row.align-middle
        .columns.small-6.medium-5.large-4= f.label :mon, 'Jueves'
        .columns.small-9.medium-5.large-4= select_tag 'thu[]', options_for_select(Institution.times, @item.settings.thu[0]), {include_blank: 'Entrada', class: 'input-times'}
        .columns.small-9.medium-5.large-4= select_tag 'thu[]', options_for_select(Institution.times, @item.settings.thu[1]), {include_blank: 'Salida', class: 'input-times'}
    .control
      .row.align-middle
        .columns.small-6.medium-5.large-4= f.label :mon, 'Viernes'
        .columns.small-9.medium-5.large-4= select_tag 'fri[]', options_for_select(Institution.times, @item.settings.fri[0]), {include_blank: 'Entrada', class: 'input-times'}
        .columns.small-9.medium-5.large-4= select_tag 'fri[]', options_for_select(Institution.times, @item.settings.fri[1]), {include_blank: 'Salida', class: 'input-times'}
    .control
      .row.align-middle
        .columns.small-6.medium-5.large-4= f.label :mon, 'Sábado'
        .columns.small-9.medium-5.large-4= select_tag 'sat[]', options_for_select(Institution.times, @item.settings.sat[0]), {include_blank: 'Entrada', class: 'input-times'}
        .columns.small-9.medium-5.large-4= select_tag 'sat[]', options_for_select(Institution.times, @item.settings.sat[1]), {include_blank: 'Salida', class: 'input-times'}
    %br
    .control
      .row.align-middle
        .columns
          %strong
            Días hábiles para cerrar una gestión
    .control
      .row.align-middle
        .columns.small-6.medium-5.large-4= f.label :response_days, 'Días'
        .columns.small-9.medium-5.large-4= text_field_tag :response_days, @item.settings.response_days
    %br
    .control
      .row.align-middle
        .columns
          %strong
            Días de asueto (Por favor marque los días en el calendario)
          %br
          %br
          #datepicker
          = hidden_field_tag 'days', @item.settings.holidays, id: 'days'
    .control
      .row.align-center.align-justify
        .columns.small-5
        .columns.small-18
          = f.button type: :submit do
            %i.material-icons save
            Actualizar
