%script{ type: 'text/ng-template', id: '/clear-filters.html' }
  .clear-filters
    = link_to nil, 'ng-click' => 'clearFilters($event)' do
      %i.material-icons clear
      Remover filtros

%script{ type: 'text/ng-template', id: '/date-filter-from-template.html' }
  .date-range-picker-container
    %span{ 'ng-click' => 'showCalendarPicker($event)', 'ng-class' => "string2date(params.filter()[name]) ? 'has-content' : null" }
      {{ (string2date(params.filter()[name]) | date:'dd/MM/yyyy') || 'Desde' }}
    %mighty-datepicker.date-range-picker{ name: '{{name}}', 'ng-disabled' => '$filterRow.disabled', 'ng-model' => "params.filter()[name]", options: 'dateRangePickerOptions', 'range-from' => 'true', before: "params.filter()[name.replace('_gteq', '_lteq')]" }

%script{ type: 'text/ng-template', id: '/date-filter-to-template.html' }
  .date-range-picker-container
    %span{ 'ng-click' => 'showCalendarPicker($event)', 'ng-class' => "string2date(params.filter()[name]) ? 'has-content' : null" }
      {{ (string2date(params.filter()[name]) | date:'dd/MM/yyyy') || 'Hasta' }}
    %mighty-datepicker.date-range-picker{ name: '{{name}}', 'ng-disabled' => '$filterRow.disabled', 'ng-model' => "params.filter()[name]", options: 'dateRangePickerOptions', 'range-to' => 'true', after: "params.filter()[name.replace('_lteq', '_gteq')]" }

.table-container
  %table{ ng: { table: 'table.tableParams', table_columns_binding: 'table.cols' }}
    %tr{ ng: { repeat: 'item in $data' }}
      -# %td
      -#   %input{ type: :checkbox, class: 'decorated-checkbox box', 'checklist-model' => 'checkboxes.ids', 'checklist-value' => 'item.id' }
      %td{ data: { title: '', filter: "{ actions: '/clear-filters.html' }" }}
        .action-buttons
          - if can? :unlock, Branch
            = link_to "#{model.to_s.pluralize.underscore}/{{ item.id }}/unlock", class: 'text', title: 'Desbloquear dependencia', data: { confirm: '¿Desea permitir que {{item.name}} haga ajustes en los casos ya cerrados?' }, 'ng-hide' => "{{ item.can_edit }}" do
              %i.material-icons lock
            = link_to nil, class: 'text-success', title: 'Dependencia desbloqueada por 1 hora', 'ng-show' => '{{item.can_edit}}' do
              %i.material-icons lock_open
          = link_to "#{model.to_s.pluralize.underscore}/{{ item.id }}/edit", class: 'text-primary', 'ng-if' => "item.institution_id || #{current_user.has_role?(:admin)}", title: 'Editar dependencia' do
            %i.material-icons border_color

          = link_to "#{model.to_s.pluralize.underscore}/{{ item.id }}", class: 'text-danger', method: :delete, data: { confirm: '¿Está seguro?' }, 'ng-if' => "item.institution_id || #{current_user.has_role?(:admin)}", title: 'Eliminar dependencia' do
            %i.material-icons delete
      - unless current_user.one_institution?
        %td{ data: { title: "'Institución'" }, 'ng-if' => 'true', filter: "{ institution_name_icont: 'text' }", sortable: "'institution_name'" } {{ item.institution_name }}
      %td{ data: { title: "'Nombre'" }, 'ng-if' => 'true', filter: "{ name_icont: 'text' }", sortable: "'name'" } {{ item.name }}
      %td{ data: { title: "'Dirección'" }, 'ng-if' => 'true', filter: "{ address_icont: 'text' }", sortable: "'address'" } {{ item.address }}
