.header
  .row.align-middle
    .columns
      %h1
        %i.material-icons input
        = t model.to_s.underscore, scope: 'activerecord.models', count: 1
    .columns.shrink

.breacrumb
  = render_breadcrumbs separator: ' / '

.wrapper
  .row.align-center
    .columns.large-16
      .container
        - if @item.errors.any?
          .alert.error
            No se pudo guardar el registro, por favor, revise los campos del formulario

        - if flash[:saved]
          .alert.success
            Registro guardado correctamente
        .tabs
          = link_to nil, class: 'active', data: { tab: '#general' } do
            Información general

          = link_to nil, data: { tab: '#schedules' } do
            Horarios y asuetos

        #general
          = form_for [:panel, @item], as: :item do |f|
            .form

              = render partial: 'form', locals: { f: f }

              .control
                .row.align-center.align-justify
                  .columns.small-5
                  .columns.small-18
                    = f.button type: :submit do
                      %i.material-icons save
                      Guardar
        #schedules
          .form
            = render partial: 'settings'
