%header
  .row.align-middle
    .columns.shrink
      %span.menu.drop
        %i.material-icons menu
        %ul
          %li
            = link_to panel_root_url do
              %i.material-icons home
              Inicio
          - modules.each do |k, v|
            %li
              = link_to send("panel_#{k}_url") do
                %i.material-icons= v
                = t k.to_s.singularize, scope: 'activerecord.models', count: :many
    .columns
      SAC
    .columns.shrink.large-offset-1
      = link_to current_user.name, edit_panel_user_url(current_user)
      = link_to destroy_user_session_url, method: :delete do
        %i.material-icons power_settings_new
