%section{ ng: { controller: 'tableController as table' }}
  .header
    .row.align-middle
      .columns
        %h1
          %i.material-icons list
          = @institution_calendar.name
      .columns.shrink
        = link_to new_panel_institution_calendar_calendar_event_url(params[:id]) do
          %i.material-icons add_circle_outline
          %br
          Nuevo evento
  .breacrumb
    = render_breadcrumbs separator: ' / '

  .container

    - if flash[:destroyed]
      .alert.success
        Registro eliminado correctamente

    #calendar
    :javascript
      $(document).ready(function() {
        return $('#calendar').fullCalendar({
          locale: "es",

          events: {
              url: "#{panel_institution_calendar_url(@institution_calendar.id)}.json",
              type: 'GET',
              error: function() {
                console.log('there was an error while fetching events!');
              },
          },


          eventClick: function(event) {
            if (event.url) {
              window.location(event.url)
                return false;
            }
          }

        });
      });
    =# render partial: 'actions'
    =# render partial: 'table'
