.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :avatar

    - if f.object.persisted? && f.object.avatar.present?
      .columns.small-15= f.file_field :avatar
      .columns.small-2
        = link_to f.object.avatar.url, target: '_blank' do
          %i.material-icons file_download
    - else
      .columns.small-18= f.file_field :avatar

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :acronym
    .columns.small-18= f.text_field :acronym

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :name
    .columns.small-18= f.text_field :name

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :correlative
    .columns.small-18= f.number_field :correlative

%h3
  Información de contacto, disponible para los ciudadanos

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :address
    .columns.small-18= f.text_area :address

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :responsible_unit
    .columns.small-18= f.text_field :responsible_unit

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :email
    .columns.small-18= f.email_field :email

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :phone
    .columns.small-18= f.text_field :phone

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :whatsapp
    .columns.small-18= f.text_field :whatsapp

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :facebook
    .columns.small-18= f.text_field :facebook

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :twitter
    .columns.small-18= f.text_field :twitter
