.form
  .row.expanded.align-justify
    .columns.small-offset-1.small-22.small-offset-1.large-13.large-offset-1.medium-12.medium-offset-1
      .step-form
        = form_for @expedient, url: expedients_url, html: { class: 'dropzone', data: {preview: ".dropzone-previews-expedient"} } do |f|
          - if @expedient.errors.any?
            .alert.error
              - @expedient.errors.each do |k, m|
                = m
          %section
            .row
              .columns.small-24
                %h2.question
                  * Cuentános tu caso
                %label
                  Describe de manera clara y sencilla la situación o inconveniente que viviste en la institución del gobierno
                = f.text_area :comment, rows: 2
              .columns.small-24
                %h2.question
                  * ¿En cuál institución sucedió tu caso?
                = f.collection_select :institution_id, @institutions, :id, :name, {prompt: 'Seleccione'},  { data: {dependent: '', target: 'expedient-branch-id', child: 'expedient-branch-id', hidden: true} }
              .columns.small-24
                %label
                  ¿En cuál dependencia?
                = f.grouped_collection_select :branch_id, @institutions, :branches, :name, :id, :name, {prompt: 'Seleccione'}, {class: 'expedient-branch-id'}
              .columns.small-24
                .dz-default.dz-message
                  .dropzone-previews-expedient
                  %span
                    %span.curved
                      Seleccione o arrastre acá sus documentos
                  %br
                  %br
                  .text-center
                    %span
                      Puedes subir JPG, PNG, PDF, DOCX
                %small
                  * Obligatorios
                .text-center
                  = link_to 'Continuar', 'javascript:void(0)', class: 'orange-button next-section disabled'
                %br
          %section.hide
            .row
              .columns.small-24
                %h2.question
                  Para que el caso sea atendido ágilmente, agregue los siguientes datos, si aplica o los posee:
                %br
                %label
                  Fecha y hora en la que sucedió
                = f.datetime_select :happened_at, {prompt: { day: 'Día', month: 'Mes', year: 'Año', hour: 'Hora', minute: 'Minutos' }, default: nil, end_year: Date.current.year, start_year: (Date.current - 10.years).year}, {class: 'wauto'}
                %label
                  Lugar donde sucedió
                = f.text_field :place
                %label
                  Placa del vehículo nacional
                = f.text_field :national_license_plate
                %label
                  Nombre del personal involucrado
                = f.text_field :personnel_name
                %label
                  Nombre del proceso
                = f.text_field :process_name
            .row
              .columns
                %br
                .text-center
                  = link_to 'Regresar', 'javascript:void(0)', class: 'orange-button prev-section'
                  = link_to 'Continuar', 'javascript:void(0)', class: 'orange-button next-section'
                %br
          %section.hide
            .row
              .columns.small-24.medium-17.second-step
                %label.black
                  * Nombre
                  %small
                    Escribe tu nombre para contactarte
                = f.text_field :contact, required: true
              .columns.small-24.medium-6.medium-offset-1
                %label.black
                  * Teléfono
                = f.text_field :phone, required: true
              .columns.small-24.second-step
                %label.black
                  Correo electrónico
                = f.email_field :email
              .columns.small-24.medium-4.second-step
                %label.black
                  Edad
                = f.number_field :age
              .columns.small-24.medium-5.medium-offset-1
                %label.black
                  Sexo
                = f.select :gender, options_for_select([['Hombre', 'm'], ['Mujer', 'f']]), prompt: true
              .columns.small-24.medium-6.medium-offset-1
                %label.black
                  Departamento
                = f.collection_select :state_id, @states, :id, :name, {prompt: 'Seleccione'}, {data: {dependent: '', target: 'select-city'}}
              .columns.small-24.medium-6.medium-offset-1
                %label.black
                  Municipio
                = f.grouped_collection_select :city_id, @states, :cities, :name, :id, :name, {prompt: 'Seleccione'}, {class: 'select-city'}
            .row
              .columns
                %small
                  * Obligatorios
                - if Rails.env.production?
                  %center
                    = recaptcha_tags
                %br
                .text-center
                  = link_to 'Regresar', 'javascript:void(0)', class: 'orange-button prev-section'
                  %button{ type: 'submit', class: 'dark-orange-button' }
                    Finalizar
                %br
    = render 'layouts/application/info_lateral'
