.row.expanded.align-justify
  .columns.small-offset-1.small-22.small-offset-1.large-13.large-offset-1.medium-12.medium-offset-1
    %br
    = form_for @whatsapp, url: register_whatsapp_url, html: {class: 'form'} do |f|
      %label
        Teléfono
        = f.text_field :phone
      %label
        Mensaje
        = f.text_area :message
      %label
        Tipo de caso
      .radios
        = f.radio_button :kind, 'conectate'
        = f.label :kind_conectate, 'Conéctate'
        = f.radio_button :kind, 'consulta'
        = f.label :kind_consulta, 'Consulta'
        = f.radio_button :kind, 'denuncia'
        = f.label :kind_denuncia, 'Denuncia'
        = f.radio_button :kind, 'corrupcion'
        = f.label :kind_corrupcion, 'Corrupción'
      %br
      = f.submit 'Guardar'
  .columns.small-24.large-7.medium-10.info
    .row.align-middle
      .columns.small-offset-2.small-22
        %br
        Casos registrados este día:
        %br
        - if @today.any?
          %ol
            - @today.each do |w|
              %li
                %strong= w.created_at.try(:strftime, '%H:%M')
                = w.phone
        - else
          %strong
            No se ha registrado ningún caso este día
