%div
  %hr
  %strong
    = comment.user.try(:name)
    comento
  %span
    = l(comment.created_at, format: :resume)
  %div
    = sanitize comment.comment
  - if comment.assets.any?
    %br
    .row
      .columns
        = render comment.assets
