.form
  .row.align-justify.first-step
    .columns.small-24.medium-18
      .row
        .columns.small-24
          %h2.no-margin
            Gracias, hemos recibido tus comentarios
        .blue-text.text-justify
          Uno de nuestros agentes se encagara de contactarte y resolver tu caso.
          Para que puedas dar seguimiento a tu comentario,
          %strong
            guarda el numero de caso
        .light-blue-box
          %span
            Número de caso
          .code
            JYYUPQ
            %br
            = link_to "Copiar numero", "", :class => "blue-button"
            = link_to "Enviar al correo", "", :class => "blue-button"
            = link_to "Imprimir", "", :class => "blue-button"
    .columns.small-24.medium-5.medium-offset-1.info
      .row
        .columns.small-24
          .image
            = image_tag("tipa.png")
          .name
            Maria Eugenia Campos
          .position
            Encargada del caso
      .row
        .columns.small-24.medium-12
          .float-left
            = image_tag("phone.png")
          .bs.blue-text.float-left
            Llamadas al
          .clearfix
          2120-4570
        .columns.small-24.medium-11.medium-offset-1
          .float-left
            = image_tag("Whatsapp.png")
          .bs.blue-text.float-left
            Whatsapp
          .clearfix
          7900-0010
        .columns.small-24
          .float-left
            = image_tag("mail.png")
          .bs.blue-text.float-left
            Correo electrónico
          .clearfix
          mcampos@atencionciudadana.gob.sv
