.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :name
    .columns.small-18= f.text_field :name

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :email
    .columns.small-18= f.text_field :email

.control
  .row.align-middle.align-justify
    .columns.small-5= label_tag "role", "Rol"
    .columns.small-18= select_tag "role", options_for_select(@allowed_roles.map{ |i| [t(i, scope: 'activerecord.enum.user.role'), i] }, @roles.try(:name)), prompt: "Permisos disponibles", required: true

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :administrative_area
    .columns.small-18
      = f.text_field :administrative_area
      %small
        * Requerido si es un usuario de unidad administrativa


.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :password
    .columns.small-18= f.password_field :password

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :password_confirmation
    .columns.small-18= f.password_field :password_confirmation

- if current_user.has_role?(:admin)
  %br
  %br
  %h2
    Instituciones que puede administrar
  = hidden_field_tag 'item[institution_ids][]', nil
  - @institutions.each do |institution|

    .control
      .row.align-middle.align-justify
        .columns= f.label :institution_ids, institution.name, for: "institution_ids_#{institution.id}"
        .columns.shrink= check_box_tag 'item[institution_ids][]', institution.id, f.object.institutions.include?(institution), class: 'decorated-checkbox box', id: "institution_ids_#{institution.id}"

- if @branches.any?
  %br
  %br
  %h2
    Dependencias que puede administrar
    %small
      *Aplica para rol Administrador Junior
  = hidden_field_tag 'item[branch_ids][]', nil
  - @branches.each do |branch|
    .control
      .row.align-middle.align-justify
        .columns= f.label :branch_ids, branch.name, for: "branch_ids_#{branch.id}"
        .columns.shrink= check_box_tag 'item[branch_ids][]', branch.id, f.object.branches.include?(branch), class: 'decorated-checkbox box', id: "branch_ids_#{branch.id}"
