%script{ type: 'text/ng-template', id: '/clear-filters.html' }
  .clear-filters
    = link_to nil, 'ng-click' => 'clearFilters($event)' do
      %i.material-icons clear
      Remover filtros

.table-container
  %table{ ng: { table: 'table.tableParams', table_columns_binding: 'table.cols' }}
    %tr{ ng: { repeat: 'item in $data' }}
      %td
        %input{ type: :checkbox, class: 'decorated-checkbox box', 'checklist-model' => 'checkboxes.ids', 'checklist-value' => 'item.id' }
      %td{ data: { title: '', filter: "{ actions: '/clear-filters.html' }" }}
        .action-buttons
          = link_to "#{model.to_s.pluralize.underscore}/{{ item.id }}/edit", class: 'text-primary' do
            %i.material-icons border_color
            Editar

          = link_to "#{model.to_s.pluralize.underscore}/{{ item.id }}", class: 'text-danger', method: :delete, data: { confirm: '¿Está seguro?' } do
            %i.material-icons delete
            Eliminar

      %td{ data: { title: "'Roles'" }, 'ng-if' => 'true', filter: "{ roles_name_icont: 'text' }", sortable: "'roles_name_s'" } {{ item.roles_name_s }}
      - unless current_user.one_institution?
        %td{ data: { title: "'Instituciones'" }, 'ng-if' => 'true', filter: "{ institutions_name_icont: 'text' }", sortable: "'institutions_name'" } {{ item.institutions_name }}
      %td{ data: { title: "'Dependencia'" }, 'ng-if' => 'true', filter: "{ branches_name_icont: 'text' }", sortable: "'branches_name'" } {{ item.branches_name }}
      %td{ data: { title: "'Unidad administrativa'" }, 'ng-if' => 'true', filter: "{ administrative_area_icont: 'text' }", sortable: "'administrative_area'" } {{ item.administrative_area }}
      %td{ data: { title: "'Nombre'" }, 'ng-if' => 'true', filter: "{ name_icont: 'text' }", sortable: "'name'" } {{ item.name }}
      %td{ data: { title: "'Email'" }, 'ng-if' => 'true', filter: "{ email_icont: 'text' }", sortable: "'email'" } {{ item.email }}
