- unless action_name == 'new_whatsapp'
  %footer
    .row.expanded
      .columns.small-24.medium-12
        .logo
          = link_to 'http://spta.gob.sv/', target: '_blank' do
            = image_tag 'logo-SPTA.png'
      .columns.small-24.medium-12
        .socials
          = link_to nil do
            = image_tag 'twitter-gray.png'
          = link_to nil do
            = image_tag 'telegram-gray.png'
          = link_to nil do
            = image_tag 'fb-gray.png'
