%header{class: "main-banner hide-for-print"}
  / desktop
  %nav.clearfix
    .logo
      = link_to root_url do
        = image_tag 'logo-SAC.png'
      %p
        Comunicanos tu queja, aviso, reclamo, consulta o sugerencia de las instituciones del gobierno

    .floating.actions
      = link_to check_expedients_url, class: 'btn default-reverse' do
        Ver mi caso
      -# %li
      -#   = link_to '#', class: 'hamburguer' do
      -#     Ayuda
