.columns.small-24.large-7.medium-10.info
  .align-column-middle
    .row.align-middle
      .columns.small-offset-2.small-22
        %strong.title-info.white
          Otras formas de comunicarte
      .columns.small-offset-2.small-10.medium-offset-1.medium-23.large-offset-2.large-10
        .float-left
          = image_tag("llamada.png")
        .bs.white.float-left
          &nbsp;Llamadas
          %br
          &nbsp;GRATIS al 135

      .columns.small-offset-2.small-10.medium-offset-1.medium-23.large-offset-2.large-10
        .float-left
          = image_tag("Whatsapp.png")
        .bs.white.float-left
          &nbsp;Whatsapp
          %br
          &nbsp;7900-0010
    .row.align-middle
      .columns.small-offset-2.small-22.medium-offset-1.medium-23.large-offset-2.large-22
        .float-left
          = image_tag("correo.png")
        .bs.white.float-left
          &nbsp;Correo electrónico
          %br
          &nbsp;
          = mail_to 'micaso@atencionciudadana.sv', 'micaso@atencionciudadana.sv', class: 'email'
