- if current_user.admin?
  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :classification
      .columns.small-18= f.select :classification,  options_for_select(entry_way_attribute_classifications.invert, f.object.classification), {include_blank: true}, {required: true}

- unless current_user.one_institution?
  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :institution_id
      .columns.small-18= f.select :institution_id, @institutions.map{ |i| [i.name, i.id] }, {include_blank: true}, {required: true}
.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :name
    .columns.small-18= f.text_field :name, required: true
