.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :start_at
    .columns.small-18= f.date_select :start_at, { prompt: { day: 'Día', month: 'Mes', year: 'Año' } }, class: 'date'
.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :name
    .columns.small-18= f.text_field :name
.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :kind
    .columns.small-18= f.select :kind, model.kinds.keys.map{ |i| [t(i, scope: 'activerecord.enum.calendar_event.kind'), i] }, include_blank: true
.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :description
    .columns.small-18= f.text_area :description, rows: 3
