- if asset_counter > 0
  %br
= link_to asset.attachment.url, target: '_blank', class: 'asset-link' do
  %i.material-icons file_download
  = word_wrap asset.attachment_file_name
  (#{number_to_human_size asset.attachment_file_size})
