@import url('https://fonts.googleapis.com/css?family=Mitr:200,300,400,500');
@import url('https://fonts.googleapis.com/css?family=Oswald:300');

@import 'vars';
@import 'mixins';
@import 'foundation';
@import 'dropzone';
@import 'fonts';


h1,
h2,
h3,
h4,
h5 {
  font-family: "NovecentoMedium";
}

body {
  background: $body;
  font-family: "MyriadPro-Regular";
}

header {
  padding: 2em 1.5em;
}

.main-banner {
  background: image-url('banner.png') no-repeat center center;
  background-size: cover;
}

.default-button {
  background-color: #ea9b3d;
  color: #fff;
}

.default-reverse {
  background-color: #fff;
  border: 0 !important;
  color: #ea9b3d;
}

.title-info {
  font-size: 1.3em;
  text-align: center;
}

nav {
  h1 {
    display: inline-block;
    color: $dark-blue;
    margin: 0 0 0 .8em;
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 1.2em;
  }

  img {
    vertical-align: baseline;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: .5em 0 0;
  }

  .logo {
    text-align: center;
  }

  .floating {
    position: absolute;
    top: 2%;
    right: 2%;
  }

  ul.actions {
    float: right;
  }

  li {
    display: inline-block;
    padding: .6em 0;
    vertical-align: top;
  }

  a {
    padding: .5em;
    color: $dark-blue;
    text-decoration: none;
  }

  a.hamburguer {
    padding-right: 35px;
    background: image-url('hambuguer.png') no-repeat right center transparent;
  }

  a.btn {
    border: 1px solid #2c51ab;
    padding: .5em 2.5em;
    border-radius: 1em;
  }
}

@media screen and (max-width: 750px){
  nav ul.logo,
  nav ul.actions {
    float: none;
    text-align: center;
  }
}

.float-left {
  float: left !important; }

.float-right {
  float: right !important; }

.float-center {
  display: block;
  margin-right: auto;
  margin-left: auto; }

.clearfix::before, .clearfix::after {
  display: table;
  content: ' ';
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -ms-flex-order: 1;
      order: 1; }

.clearfix::after {
  clear: both; }

.form {
  height: auto;

  h2 {
    color: #333333;
    font-size: 3em;
    margin: 0px;
  }

  label.blue{
    color: #264079;
    font-size: 1.2em;
  }


  label {
    display: block;
    color: #333333;
    font-size: 1.25em;
  }

  input,
  textarea,
  select {
    width: 100%;
    border-radius: .5em;
    background: white;
    padding: .8em;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(169, 169, 169);
    margin-bottom: .5em;
  }

  .columns {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .row.buttons {
    padding-top: 30px;
  }

}

footer {
  background-color: #dce1e5;
  padding: 1.5em;
  a {
    margin: 0 .3em;
    text-decoration: none;
  }
  .socials {
    text-align: right;
  }
  .logo {
    text-align: left;
  }
}

@media screen and (max-width: 630px) {
  footer .socials {
    text-align: center;
  }
  footer .logo {
    text-align: center;
    margin-bottom: .5em;
  }
}

.light-black-box, .dz-default.dz-message {
  background-color: #fff;
  padding-top: 25px;
  padding-bottom: 15px;
  border-radius: .5em;
  border: 1px solid #b3b3b3 !important;
  margin: 1em 0 2em;
}

.light-black-box{
  width: 100%;
  color: #2d323a;
  text-align: center;

  span{
    font-size: 1.2em;
  }

  .code {
    font-size: 5em;
  }

  @media screen and (max-width: 630px) {
    .code {
      font-size: 3em;
    }
    .blue-button,
    .orange-button {
      margin-bottom: .5em;
      display: block;
    }
  }
}

.light-black-box-small {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 5px;
  border-radius: .5em;
  border: 1px solid #b3b3b3 !important;
  margin: 1em auto;
  width: 320px;
  color: #2d323a;
  text-align: center;

  .code {
    font-size: 3em;
  }

  @media screen and (max-width: 630px) {
    width: 100%;

    .code {
      font-size: 2em;
    }
    .blue-button,
    .orange-button {
      margin-bottom: .5em;
      display: block;
    }
  }

}

.blue-text{
  color: #264079;
  font-size: 1.3em;
}

span.curved {
  background-color: #636363;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 1em;
  margin-bottom: 10px;
}

.blue-button {
  background-color: #006ae9;
  color: #ffffff;
}

.orange-button {
  background-color: #ea9b3d;
  color: #ffffff;
}

.blue-button,
.orange-button {
  text-align: center;
  padding: 14px 50px;
  border-radius: .8em;
  text-decoration: none;
  font-weight: bold;

  &.disabled {
    background: #f4e2c4;
  }
}

.check-wrapper {
  min-height: 340px;
}

.default-orange-button {
  @extend .orange-button;
  background: #F97319;
  display: inline-block;
  font-weight: normal;
  padding: 7px 10px;
  margin-bottom: 20px;
  width: 125px;
}

.dark-blue-button {
  @extend .blue-button;
  background-color: #264079;
}

.dark-orange-button {
  @extend .orange-button;
  background-color: #c5720d;
}

.text-justify{
  text-align: justify;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.no-margin{
  margin: 0px;
}

.align-column-middle {
  padding: 40% 0;
}

.align-column-middle-institution {
  padding: 5% 0;
}

@media screen and (max-width: 420px){
  .align-column-middle {
    padding: 15% 0;
  }

  .align-column-middle-institution {
    padding: 5% 0;
  }

}

.info {
  font-family: "NovecentoMedium";

}

.info, .info a{
  background: #6f7070;
  color: #fff;
  text-decoration: none;
}
.name{
  text-align: center;
  color: #333333;
  font-weight: bold;
  font-size: 1.1em;
}

.position{
  text-align: center;
}

.bs{
  font-size: 0.9em;
  font-weight: bold;
}

.hide {
  display: none;
}

.img-profile {
  width: 140px;
  height: 140px;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  background: white;
  padding: 5px;
  margin-bottom: .5em;
}

.black {
  color: #333333;
}

.white {
  color: #fff;
}

@media screen and (min-width: 40em) {
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
  }

  html {
    height: 100%;
  }

  body {
    position: relative;
    margin: 0;
  }

  //footer {
  //  position: absolute;
  //  right: 0;
  //  bottom: 0;
  //  left: 0;
  //  padding: 1rem;
  //}
}

.container-white {
  background: white;
  border-radius: .7em .7em 0 0;
  -moz-border-radius: .7em .7em 0 0;
  -webkit-border-radius: .7em .7em 0 0;
  padding: 2em;
  h2 {
    font-size: 2em;
    line-height: 1em;
  }
  h2 span {
    color: #006ae9;
  }
}

.timeline-event {
  min-height: 70px;
  .timeline-check {
    background-image: image-url('check-circle.png'), image-url('bg-grey.png');
    background-position: center top, center top;
    background-repeat: no-repeat, repeat-y;
  }
  small.blue {
    font-weight: bolder;
    color: #264079;
  }
  h2 {
    font-weight: 400;
  }
  p {
    color: #264079;
    font-size: 1.2em;
  }
}

.timeline-event.muted h2 {
  color: #b3b3b3;
}

.timeline-event.muted .timeline-check {
  background-image: image-url('check-circle-muted.png'), image-url('bg-grey.png');
}

h2.question {
  font-size: 1.5em;
}


h2.thanks {
  margin-top: 30px;
  font-size: 1.7em;
}


@media print{
  .hide-for-print{ display: none !important; }
}

@media screen and (min-width: 680px) {
  html {
    height: 100%;
  }

  .form {
    height: 78%;
  }

  .row.expanded {
    height: 100%;
    min-height: 100%;
  }

  body {
    height: 100%;
  }

  * { margin: 0; padding: 0; }
}

@media screen and (min-width: 960px) {
  html {
    height: 100%;
  }

  .form {
    height: auto;
  }

}

.radios label {
  display: inline-block;
  margin-right: 1em;
}
.radios input {
  width: auto;
}

header p {
  color: white;
  font-size: 1.3em;
  margin-bottom: 0;
}


.alert {
  font-size: 1.1em;
  margin: 1em;
  padding: .6em 1em;
  text-align: center;

  &.error {
    background: transparentize(#ea9b3d, .3);
    border: 1px transparentize(#ea9b3d, .25) solid;
    color: #fff;
  }

}

.wauto {
  width: auto !important;
}
