@font-face {
  font-family: "NovecentoDemiBold";
  src: font-url('Novecentosanswide-DemiBold.eot');
  src: local('Novecentosanswide-DemiBold'), font-url('Novecentosanswide-DemiBold.ttf') format('truetype');
}

@font-face {
  font-family: "NovecentoMedium";
  src: font-url('Novecentosanswide-Medium.eot');
  src: local('Novecentosanswide-Medium'), font-url('Novecentosanswide-Medium.ttf') format('truetype');
}

@font-face {
  font-family: "MyriadPro-Regular";
  src: font-url('MyriadPro-Regular.eot');
  src: local('MyriadPro-Regular'), font-url('MyriadPro-Regular.ttf') format('truetype');
}
