$extra-light: 200;
$light: 300;
$normal: 400;
$medium: 500;

$blue: #357bf3;
$dark-blue: #2c51ab;
$white: #fff;
$black: #000;
$dark: #4d4d4d;
$skyblue: #42c7ff;
$cobalt: #2d3645;

$white-alt: #fefefe;
$light-blue: #2199e8;
$soft-warning: #fff3d9;

$body: #fff;//#edf3fa;
