.ng-scope.ng-table.scroll
  %table.ng-scope.ng-table.details_table.table-striped.sticky-headers
    %thead
      %tr.ng-scope
        %th ID
        %th Institución
        %th Dependencia
        %th Via de ingreso
        %th Fecha de recibido
        %th Hora de recibido
        %th Fecha de cierre
        %th Hora de cierre
        %th Código de referencia
        %th Tiempo de contacto
        %th Resumen del caso
        %th Categoría
        %th Sub Categoría
        %th Gestiones
        %th Asignado a
        %th Comunicación con el ciudadano
        %th Respuesta brindada al ciudadano
        %th Resolución del caso
        %th Estado
        %th Redireccionado a
        %th Tipo de cierre
        %th Resolución del caso
        %th ¿El caso era procedente?
        %th Palabras claves
    %tbody
      - expedients.each do |e|
        %tr.ng-scope
          %td{rowspan: e.managements_count}
            = e.id
          %td{rowspan: e.managements_count}
            = (e.institution.nil? ? "" : e.institution.name)
          %td{rowspan: e.managements_count}
            = (e.branch.nil? ? "No asignado" : e.branch.name)
          %td{rowspan: e.managements_count}
            = (e.entry_way.nil? ? "" : e.entry_way.name)
          %td{rowspan: e.managements_count}
            = l e.received_at, format: :localized2
          %td{rowspan: e.managements_count}
            = l e.received_at, format: :hour
          %td{rowspan: e.managements_count}
            = l(e.closed_at, format: :localized2) rescue 'N/A'
          %td{rowspan: e.managements_count}
            = l(e.closed_at, format: :hour) rescue 'N/A'
          %td{rowspan: e.managements_count}
            = e.reference_code
          %td{rowspan: e.managements_count}
            = e.contact_time_string
          %td{rowspan: e.managements_count}
            = e.comment
          - if e.managements.length > 1
            - e.managements.each do |m|
              - if  m.id == e.managements.first.id
                %td{rowspan: 1}
                  = Management::KIND[m.kind]
                %td{rowspan: 1}
                  = m.management_category.try(:name)
                %td{rowspan: 1}
                  = m.comment
                %td{rowspan: 1}
                  %ul
                    - m.statistics_assigned_names.split(',').sort.each do |an|
                      %li
                        = an
                %td{rowspan: e.managements_count}
                  = e.contacted
                %td{rowspan: e.managements_count}
                  = e.response ? "Si" : "No"
                %td{rowspan: e.managements_count}
                  = e.closed_info
                %td{rowspan: e.managements_count}
                  = Expedient::STATE[e.state]
                %td{rowspan: e.managements_count}
                  = e.redirected_to
                %td{rowspan: e.managements_count}
                  = e.closed_classification
                %td{rowspan: e.managements_count}
                  = e.resolution_type_s
                %td{rowspan: e.managements_count}
                  = e.it_proceeds_s
                %td{rowspan: e.managements_count}
                  - e.tag_list.each do |t|
                    %li
                      = t
              - else
                %tr.ng-scope
                  %td{rowspan: 1}
                    = Management::KIND[m.kind]
                  %td{rowspan: 1}
                    = m.management_category.try(:name)
                  %td{rowspan: 1}
                    = m.comment
                  %td{rowspan: 1}
                    %ul
                      - m.statistics_assigned_names.split(',').sort.each do |an|
                        %li
                          = an
          - elsif (e.managements.length == 1)
            - e.managements.each do |m|
              - if  m.id == e.managements.first.id
                %td{rowspan: 1}
                  = Management::KIND[m.kind]
                %td{rowspan: 1}
                  = m.management_category.try(:name)
                %td{rowspan: 1}
                  = m.comment
                %td{rowspan: 1}
                  %ul
                    - m.statistics_assigned_names.split(',').sort.each do |an|
                      %li
                        = an
            %td{rowspan: e.managements_count}
              = e.contacted
            %td{rowspan: e.managements_count}
              = e.response ? "Si" : "No"
            %td{rowspan: e.managements_count}
              = e.closed_info
            %td{rowspan: e.managements_count}
              = Expedient::STATE[e.state]
            %td{rowspan: e.managements_count}
              = e.redirected_to
            %td{rowspan: e.managements_count}
              = e.closed_classification
            %td{rowspan: e.managements_count}
              = e.resolution_type_s
            %td{rowspan: e.managements_count}
              = e.it_proceeds_s
            %td{rowspan: e.managements_count}
              - e.tag_list.each do |t|
                %li
                  = t
          - else
            - 4.times do
              %td{rowspan: 1}
            %td{rowspan: 1}
              = e.contacted
            %td{rowspan: 1}
              = e.response ? "Si" : "No"
            %td{rowspan: 1}
              = e.closed_info
            %td{rowspan: 1}
              = Expedient::STATE[e.state]
            %td{rowspan: 1}
              = e.redirected_to
            %td{rowspan: 1}
              = e.closed_classification
            %td{rowspan: e.managements_count}
              = e.resolution_type_s
            %td{rowspan: e.managements_count}
              = e.it_proceeds_s
            %td{rowspan: 1}
              - e.tag_list.each do |t|
                %li
                  = t
