.row.align-middle
  .columns
    = form_tag panel_statistics_url, method: :get do
      .form
        .control
          .row.align-middle.align-justify
            .columns.medium-3.small-6
              = label_tag "Institucion: "
            .columns.medium-6.small-18
              = select_tag("q[institution_id_eq]", options_for_select(@institutions.map{|i| [ i.name, i.id]}, selected: params[:q].present? ? params[:q][:institution_id_eq] : nil), prompt: "Seleccione", class: "institution_to_filters")

            .columns.medium-3.small-6
              = label_tag "Dependencia: "
            .columns.medium-6.small-18
              = select_tag("q[branch_id_eq]", options_for_select(@filter_branches.blank? ? @filter_branches : (@filter_branches.map{|b| [ b.name, b.id]}), selected: (params[:q].present? ? params[:q][:branch_id_eq] : nil)), prompt: "Seleccione")

            .columns.medium-4.small-24

        .control
          .row.align-middle.align-justify
            .columns.medium-3.small-6
              = label_tag "Desde: "
            .columns.medium-6.small-18
              = text_field_tag("q[created_at_date_gteq]", (params[:q].present? ? (params[:q][:created_at_date_gteq].blank? ? @month_begin : params[:q][:created_at_date_gteq]) : @month_begin), class: "datepicker")

            .columns.medium-3.small-6
              = label_tag "Hasta: "
            .columns.medium-6.small-18
              = text_field_tag("q[created_at_date_lteq]", (params[:q].present? ? (params[:q][:created_at_date_lteq].blank? ? @month_end : params[:q][:created_at_date_lteq]) : @month_end), class: "datepicker")

            .columns.medium-4.small-24
              = button_tag type: :submit, class: "custom-search" do
                %i.material-icons search
                %span Filtrar

        .control
          .row.align-middle.align-justify
            .columns.medium-3.small-6
              = label_tag "Departamento: "
            .columns.medium-6.small-18
              = select_tag("q[state_id_eq]", options_for_select(@filter_states.map{|s| [ s.name, s.id]}, selected: params[:q].present? ? params[:q][:state_id_eq] : nil), prompt: "Seleccione", class: "ajaxable", target: "q_city_id_eq", object: "cities")

            .columns.medium-3.small-6
              = label_tag "Municipio: "
            .columns.medium-6.small-18
              = select_tag("q[city_id_eq]", options_for_select(@filter_cities.blank? ? @filter_cities : (@filter_cities.map{|c| [ c.name, c.id]}), selected: (params[:q].present? ? params[:q][:city_id_eq] : nil)), prompt: "Seleccione")

            .columns.medium-4.small-24

        .control
          .row.align-middle.align-justify
            .columns.medium-3.small-6
              = label_tag "Sexo: "
            .columns.medium-6.small-18
              = select_tag("q[gender_eq]", options_for_select(@filter_genders, selected: params[:q].present? ? params[:q][:gender_eq] : nil), prompt: "Seleccione")
            .columns.medium-3.small-6
              = label_tag "Vías de ingreso: "
            .columns.medium-6.small-18
              = select_tag("q[entry_way_id_eq]", options_for_select(@filter_entry_ways.map{|ew| [ ew.name, ew.id]}, selected: params[:q].present? ? params[:q][:entry_way_id_eq] : nil), prompt: "Seleccione")

            .columns.medium-4.small-24

        .control
          .row.align-middle.align-justify
            .columns.medium-3.small-6
              = label_tag "Categoría: "
            .columns.medium-6.columns.small-18
              = select_tag("q[managements_kind_eq]", options_for_select(Management::KIND.invert, selected: (params[:q].present? ? params[:q][:managements_kind_eq] : nil)), prompt: 'Seleccione', class: '2v', target: 'q_management_category_id_eq', object: 'scategories')

            .columns.medium-3.small-6
              = label_tag "Sub Categoria: "
            .columns.medium-6.columns.small-18
              = select_tag("q[management_category_id_eq]", options_for_select(@filter_scategories, selected: (params[:q].present? ? params[:q][:q_management_category_id_eq] : nil)), prompt: 'Seleccione')
            .columns.medium-4.small-24

        .control
          .row.align-middle.align-justify
            .columns.medium-3.small-6
              = label_tag "Asignado a gestión: "
            .columns.medium-6.columns.small-18
              = select_tag("q[managements_assigned_ids_cont]", options_for_select(@filter_managements_assigned.map{|ma| [ ma.name, ma.id]}, selected: params[:q].present? ? params[:q][:managements_assigned_ids_cont] : nil), prompt: "Seleccione")

            .columns.medium-3.small-6
              = label_tag "Unidad Administrativa: "
            .columns.medium-6.columns.small-18
              = select_tag("q[by_aa]", options_for_select(@filter_administrative_area, selected: params[:q].present? ? params[:q][:by_aa] : nil), prompt: "Seleccione")
            .columns.medium-4.small-24

        .control
          .row.align-middle.align-justify
            .columns.medium-3.small-6
              = label_tag "Estado de los casos: "
            .columns.medium-6.columns.small-18
              = select_tag "q[state_eq]", options_for_select(Expedient::STATE.invert, (params[:q].present? ? params[:q][:state_eq] : nil)), {prompt: 'Seleccione', data: {}}

            .columns.medium-3.small-6
              = label_tag "Clasificación de cierre: "
            .columns.medium-6.columns.small-18
              = select_tag "q[classification_type_eq]", options_for_select(Expedient.classification_types.map{ |i| [t(i[0], scope: 'activerecord.enum.expedient.classification_type'), i[1]] }, (params[:q].present? ? params[:q][:classification_type_eq] : nil) ), {prompt: 'Seleccione', class: ""}
            .columns.medium-4

        .control
          .row.align-middle.align-justify

            .columns.medium-3.small-6
              = label_tag "Palabras claves"
            .columns.medium-6.small-18
              = select_tag("q[by_tags]", options_for_select(@filter_tags, selected: params[:q].present? ? params[:q][:by_tags] : nil), prompt: "Seleccione")

            .columns.medium-3.small-6
              = label_tag "Tiempo de contacto: "
            .columns.medium-6.small-18
              = select_tag("contact_time", options_for_select(@filter_contact_time.map{|f| [f[:name], f[:id]]}, selected: params[:contact_time].present? ? params[:contact_time] : nil))

            .columns.medium-4.small-24

        .control
          .row.align-middle.align-justify

            .columns.medium-3.small-6
              = label_tag 'q_state_not_eq', '¿Excluir redireccionados?'
            .columns.medium-6.small-18
              = check_box_tag "q[state_not_eq]", 'redirected', params[:q] && params[:q][:state_not_eq].present?, class: 'decorated-checkbox box'

            .columns.medium-3.small-6
              = label_tag 'q_classification_type_not_eq', '¿Excluir repetidos (Cerrados por duplicidad)?'
            .columns.medium-6.small-18
              = check_box_tag 'q[classification_type_not_eq_or_null]', 2, params[:q] && params[:q][:classification_type_not_eq_or_null].present?, class: 'decorated-checkbox box'


            .columns.medium-4.small-24
