- if check_empty_zero_array(@_by_institutions)
  .half
    = pie_chart @_by_institutions, title: " Estado de los Casos", messages: {empty: "No hay datos"}

- if check_empty_zero_array(@_by_kind)
  .half
    = pie_chart @_by_kind, title: "Categorías de los Casos", messages: {empty: "No hay datos"}

- if check_empty_zero_array(@_contact_time)
  .half
    = pie_chart @_contact_time, title: "Tiempo de contacto", messages: {empty: "No hay datos"}

- if check_empty_zero_array(@_by_entry_way)
  .half
    = pie_chart @_by_entry_way, title: "Vías de ingreso", messages: {empty: "No hay datos"}

- if check_empty_zero_array(@by_management_category)
  .half
    = pie_chart @by_management_category, title: "Sub Categorías", messages: {empty: "No hay datos"}

- if check_empty_zero_array(@by_tags)
  .half
    = pie_chart @by_tags, title: "Palabras claves más usadas", messages: {empty: "No hay datos"}
