%table.ng-scope.ng-table.details_table.table-striped
  %thead
    %tr
      %th{colspan: 14}
  %tbody
    %tr.ng-scope
      %td.faketh{rowspan: 2}
        Instituciones
      %td.faketh{colspan: 5}
        Casos
      %td.faketh{colspan: 7}
        Gestiones
    %tr.ng-scope
      - Expedient::STATE.each do |s|
        %td.faketh
          = s[1]
      %td.faketh
        Total Casos
      - Management::KIND.each do |k|
        %td.faketh
          = k[1]
      %td.faketh
        Total Gestiones
    - expedients.group_by(&:institution_id).each do |institution_id, by_institutions|
      %tr.ng-scope
        %td.strip
          - i = by_institutions.first.institution
          %strong
            = i.try(:name)
        - Expedient::STATE.each do |s|
          %td.strip
            = link_to details_panel_statistics_url(q: fix_params({state_eq: s[0], institution_id_eq: "#{i.try(:id)}"}), utf8: '✓', branch_mode: '1') do
              = count_by_state(by_institutions, s[0])
        %td.strip
          = link_to details_panel_statistics_url(q: fix_params({institution_id_eq: "#{i.try(:id)}"}), utf8: '✓', branch_mode: '1') do
            = by_institutions.length
        - Management::KIND.each do |k|
          %td.strip
            = link_to details_panel_statistics_url(q: fix_params({institution_id_eq: "#{i.try(:id)}", managements_kind_eq: "#{k[0]}"}), utf8: '✓', branch_mode: '1') do
              = count_by_expedient_id @managements.to_a, by_institutions.map(&:id), k[0]
        %td.strip
          = link_to details_panel_statistics_url(q: fix_params({institution_id_eq: "#{i.try(:id)}"}), utf8: '✓', branch_mode: '1') do
            = count_by_expedients @managements.to_a, by_institutions.map(&:id)
    %tr.ng-scope
      %td.strip
        %strong
          TOTAL
      - Expedient::STATE.each do |s|
        %td.strip
          %strong
            = link_to details_panel_statistics_url(q: fix_params({state_eq: s[0]}), utf8: '✓') do
              = count_by_state(expedients, s[0])
      %td.strip
        %strong
          = link_to details_panel_statistics_url(q: fix_params({}), utf8: '✓') do
            = expedients.length
      - Management::KIND.each do |k|
        %td.strip
          %strong
            = link_to details_panel_statistics_url(q: fix_params({managements_kind_eq: "#{k[0]}"}), utf8: '✓') do
              = count_by_expedient_id @managements.to_a, expedients.map(&:id), k[0]
      %td.strip
        %strong
          = link_to details_panel_statistics_url(q: fix_params({}), utf8: '✓') do
            = count_by_expedients @managements.to_a, expedients.map(&:id)
