%table.ng-scope.ng-table.details_table.table-striped
  %thead
    %tr
      %th{colspan: 14}
        = "#{i.name}"
  %tbody
    %tr.ng-scope
      %td.faketh{rowspan: 2}
        Dependencias
      %td.faketh{colspan: 5}
        Casos
      %td.faketh{colspan: 7}
        Gestiones
    %tr.ng-scope
      - Expedient::STATE.each do |s|
        %td.faketh
          = s[1]
      %td.faketh
        Total Casos
      - Management::KIND.each do |k|
        %td.faketh
          = k[1]
      %td.faketh
        Total Gestiones
    - expedients.group_by(&:branch_id).each do |branch_id, by_branches|
      %tr.ng-scope
        %td.strip
          %strong
            - b = (by_branches.first.branch.nil? ? "No Asignado" : by_branches.first.branch)
            = b.is_a?(String) ? b : b.name

        - Expedient::STATE.each do |s|
          %td.strip
            - if b.try(:id)
              = link_to details_panel_statistics_url(utf8: '✓', q: fix_params({state_eq: s[0], institution_id_eq: "#{i.id}", branch_id_eq: "#{b.id}"})) do
                = count_by_state(by_branches, s[0])
            - else
              = link_to details_panel_statistics_url(utf8: '✓', q: fix_params({state_eq: s[0], institution_id_eq: "#{i.id}", g: [ {m: 'or', branch_id_eq: '', branch_id_null: 1} ]})) do
                = count_by_state(by_branches, s[0])

        %td.strip
          - if b.try(:id)
            = link_to details_panel_statistics_url(utf8: '✓', q: fix_params({institution_id_eq: "#{i.id}", branch_id_eq: "#{b.id}"})) do
              = by_branches.length
          - else
            = link_to details_panel_statistics_url(utf8: '✓', q: fix_params({institution_id_eq: "#{i.id}", g: [ {m: 'or', branch_id_eq: '', branch_id_null: 1} ]})) do
              = by_branches.length

        - Management::KIND.each do |k|
          %td.strip
            - if b.try(:id)
              = link_to details_panel_statistics_url(utf8: '✓', q: fix_params({institution_id_eq: "#{i.id}", branch_id_eq: "#{b.id}", managements_kind_eq: "#{k[0]}"})) do
                = count_by_expedient_id @managements.to_a, by_branches.map(&:id), k[0]
            - else
              = link_to details_panel_statistics_url(utf8: '✓', q: fix_params({institution_id_eq: "#{i.id}", managements_kind_eq: "#{k[0]}", g: [ {m: 'or', branch_id_eq: '', branch_id_null: 1} ]})) do
                = count_by_expedient_id @managements.to_a, by_branches.map(&:id), k[0]

        %td.strip
          - if b.try(:id)
            = link_to details_panel_statistics_url(utf8: '✓', q: fix_params({institution_id_eq: "#{i.id}", branch_id_eq: "#{b.id}"})) do
              = count_by_expedients @managements.to_a, by_branches.map(&:id)
          - else
            = link_to details_panel_statistics_url(utf8: '✓', q: fix_params({institution_id_eq: "#{i.id}", g: [ {m: 'or', branch_id_eq: '', branch_id_null: 1} ]})) do
              = count_by_expedients @managements.to_a, by_branches.map(&:id)

    %tr.ng-scope
      %td.strip
        %strong
          TOTAL
      - Expedient::STATE.each do |s|
        %td.strip
          %strong
            = link_to details_panel_statistics_url(q: fix_params({state_eq: s[0]}), utf8: '✓') do
              = count_by_state(expedients, s[0])
      %td.strip
        %strong
          = link_to details_panel_statistics_url(q: fix_params({}), utf8: '✓') do
            = expedients.length
      - Management::KIND.each do |k|
        %td.strip
          %strong
            = link_to details_panel_statistics_url(q: fix_params({managements_kind_eq: "#{k[0]}"}), utf8: '✓') do
              = count_by_expedient_id @managements.to_a, expedients.map(&:id), k[0]
      %td.strip
        %strong
          = link_to details_panel_statistics_url(q: fix_params({}), utf8: '✓') do
            = count_by_expedients @managements.to_a, expedients.map(&:id)
