- title = params[:branch_mode].present? ? "Reporte de casos por dependencias" : "Reporte de casos por instituciones"
.row.w100
  .header.w100
    %h1
      = title
      - if (params[:q].present? && params[:q][:created_at_date_gteq].present? && !params[:q][:created_at_date_gteq].blank?)
        = "desde #{params[:q][:created_at_date_gteq]}"
      - if (params[:q].present? && params[:q][:created_at_date_lteq].present? && !params[:q][:created_at_date_lteq].blank?)
        = "al #{params[:q][:created_at_date_lteq]}"
      %br
    - if params[:branch_mode].present? && params[:branch_mode] == "1"
      = link_to "Exportar a Excel", panel_statistics_path(branch_mode: "1", q: params[:q], format: "xlsx"), class: "no_margin"
    - else
      = link_to "Exportar a Excel", panel_statistics_path(q: params[:q], format: "xlsx"), class: "no_margin"
