.row.align-middle
  .header.w100
    %h1
      = "Reporte de detalle de casos"

      - if (params[:q].present? && params[:q][:created_at_gteq].present? && !params[:q][:created_at_gteq].blank?)
        = "desde #{params[:q][:created_at_gteq]}"
      - if (params[:q].present? && params[:q][:created_at_lteq].present? && !params[:q][:created_at_lteq].blank?)
        = "al #{params[:q][:created_at_lteq]}"
      %br
    = link_to "Exportar a Excel", details_panel_statistics_path(q: params[:q], format: "xlsx"), class: "no_margin"
