.breadcrumb
.container
  .header
    .row.align-middle
      .columns
        %h1
          %i.material-icons list
          = "Estadísticas"
  - if @expedients.any?
    - if params[:branch_mode].present? && params[:branch_mode] == "1"
      - @expedients.group_by(&:institution_id).each do |institution_id, by_institutions|
        - i = by_institutions.first.institution
        .row
          = render partial: "graphs", :locals => {expedients: by_institutions, managements: @managements}
        = render partial: "title"
        .row.scroll
          = render partial: "institution_table", :locals => { i: i, expedients: by_institutions }
    - else
      = render partial: "title_cd"
      = render partial: "details_table", :locals => { expedients: @expedients }
  - else
    = render partial: "title"
    %table.ng-scope.ng-table.details_table.table-striped
      %thead
        %tr
          %th
            No hay casos que cumplan con los filtros seleccionados
