.breadcrumb
.container
  .header
    .row.align-middle
      .columns
        %h1
          %i.material-icons list 
          = "Estadísticas"
  .row
    = render :partial => "filters"
  - if @expedients.any?
    .table-container.table-container-o
      .ng-scope.ng-table
        - if (params[:q].present?)
          - if (params[:q][:institution_id_eq] != '')
            - @expedients.group_by(&:institution_id).each do |institution_id, by_institutions|
              - i = by_institutions.first.institution
              .row
                = render partial: "graphs", :locals => {expedients: by_institutions, managements: @managements}
              = render partial: "title"
              .row
                = render partial: "institution_table", :locals => { i: i, expedients: by_institutions }
          - else
            .row
              = render partial: "graphs", :locals => {expedients: @expedients, managements: @managements}
            = render partial: "title"
            .row
              = render partial: "institutions_table", :locals => { expedients: @expedients }
        - else
          .row
            = render partial: "graphs", :locals => {expedients: @expedients, managements: @managements}
          = render partial: "title"
          .row
            = render partial: "institutions_table", :locals => { expedients: @expedients }
  - else
    = render partial: "title"
    %table.ng-scope.ng-table.details_table.table-striped
      %thead
        %tr
          %th
            No hay casos que cumplan con los filtros seleccionados
