.form
  .row.expanded.align-center
    .columns.small-offset-1.small-23.medium-22.large-offset-8.large-16
      .check-wrapper
        %h2.thanks
          Escribe tu número de caso
        = form_tag verify_expedients_url, method: :get do |f|
          .row
            .columns.small-23.medium-5
              = text_field_tag :code
            .columns.small-23.medium-4.medium-offset-1
              %button{ type: 'submit', class: 'orange-button' }
                Continuar
