.form
  .row.expanded.align-justify
    .columns.small-offset-1.small-22.large-offset-1.large-14.medium-12
      .row.align-center.align-justify
        .columns.small-24.large-11
          %h2.thanks.no-margin
            ¡Gracias! hemos recibido tus comentarios
          .black.text-justify
            Uno de nuestros agentes se encagara de contactarte y resolver tu caso.
            Para que puedas dar seguimiento a tu comentario,
            %strong
              guarda el número de caso
        .columns.small-24.large-offset-1.large-12
          .light-black-box
            %span
              Número de caso
            .code#my_code
              = @expedient.reference_code
          .text-center.hide-for-print
            = link_to 'Copiar número', 'javascript:void(0)', :class => 'default-orange-button copy-code'
            -# = link_to "Enviar al correo", "", :class => "default-orange-button"
            = link_to 'Imprimir', 'javascript:void(0)', :class => 'default-orange-button print-code'


    .columns.small-24.large-offset-1.large-8.medium-offset-1.medium-10.info.hide-for-print
      .align-column-middle-institution
        - if @institution
          .row.align-center.align-justify
            .columns.small-24
              - if @institution.avatar.present?
                %center
                  = image_tag @institution.avatar.url, class: 'img-profile'
              - if @institution.responsible_unit.present?
                .position
                  = @institution.responsible_unit
                  %br
                  Unidad responsable
            - if @institution.phone.present?
              .columns.small-offset-2.small-10.medium-offset-1.medium-23.large-offset-2.large-10
                .float-left
                  = image_tag("llamada.png")
                .bs.white.float-left
                  &nbsp;Llamadas al
                  %br
                  &nbsp;
                  = @institution.phone
            - if @institution.whatsapp.present?
              .columns.small-offset-2.small-10.medium-offset-1.medium-23.large-offset-2.large-10
                .float-left
                  = image_tag("Whatsapp.png")
                .bs.white.float-left
                  &nbsp;Whatsapp
                  %br
                  &nbsp;
                  = @institution.whatsapp
            - if @institution.email.present?
              .columns.small-offset-2.small-22.medium-offset-1.medium-23.large-offset-2.large-22
                .float-left
                  = image_tag("correo.png")
                .bs.white.float-left
                  &nbsp;Correo electrónico
                  .clearfix
                    &nbsp;
                    = mail_to @institution.email, @institution.email, class: 'email'
            - if @institution.facebook.present?
              .columns.small-offset-2.small-22.medium-offset-1.medium-23.large-offset-2.large-22
                .float-left
                  = image_tag("Facebook.png")
                .bs.white.float-left
                  &nbsp;Facebook
                  .clearfix
                    &nbsp;
                    = link_to @institution.facebook, @institution.facebook, class: 'email', target: '_blank'
            - if @institution.twitter.present?
              .columns.small-offset-2.small-22.medium-offset-1.medium-23.large-offset-2.large-22
                .float-left
                  = image_tag("Twitter.png")
                .bs.white.float-left
                  &nbsp;Twitter
                  .clearfix
                    &nbsp;
                    = link_to @institution.twitter, @institution.twitter, class: 'email', target: '_blank'
