.form
  .row.expanded.align-center
    .columns.small-offset-1.small-22.large-offset-1.large-14.medium-12
      .container-white
        - if @expedient
          .text-center
            %h2
              Consultando número de caso
            .light-black-box-small
              .code
                = @expedient.reference_code
          %br
          - @events.each do |event|
            - if event[:state] == 'process'
              - klass = (@events_states['admitted'] > 0 ? nil : 'muted')
            - else
              - klass = (event[:user_id].nil? ? 'muted' : nil)

            .row.timeline-event{ class: klass }
              .columns.medium-6.large-4.timeline-check
              .columns.small-24.medium-18.large-20
                - if event[:datetime]
                  %small.blue
                    = l event[:datetime], format: :date
                %h2
                  - if event[:state] == 'received'
                    Caso recibido
                  - elsif event[:state] == 'failed_attempt'
                    Intento de comunicación fallida
                  - elsif event[:state] == 'redirected'
                    Caso redireccionado a #{event[:institution]}
                  - elsif event[:state] == 'admitted'
                    Nos comunicamos con usted
                  - elsif event[:state] == 'process'
                    Seguimiento
                  - elsif event[:state] == 'resolution'
                    Resolución del caso
                  - else
                    Caso cerrado
                - if event[:text]
                  %p
                    = event[:text]
                - elsif event[:state] != 'closed'
                  %br
                  %br
        - else
          %h2
            Lo sentimos, no encontramos el caso número
            %span #{params[:code].try(:upcase)}

    .columns.small-24.large-offset-1.large-8.medium-offset-1.medium-10.info
      .align-column-middle-institution
        - if @institution
          .row.align-center.align-justify
            .columns.small-24
              - if @institution.avatar.present?
                %center
                  = image_tag @institution.avatar.url, class: 'img-profile'
              - if @institution.responsible_unit.present?
                .position
                  = @institution.responsible_unit
                  %br
                  Unidad responsable
            - if @institution.phone.present?
              .columns.small-offset-2.small-10.medium-offset-1.medium-23.large-offset-2.large-10
                .float-left
                  = image_tag("llamada.png")
                .bs.white.float-left
                  &nbsp;Llamadas al
                  %br
                  &nbsp;
                  = @institution.phone
            - if @institution.whatsapp.present?
              .columns.small-offset-2.small-10.medium-offset-1.medium-23.large-offset-2.large-10
                .float-left
                  = image_tag("Whatsapp.png")
                .bs.white.float-left
                  &nbsp;Whatsapp
                  %br
                  &nbsp;
                  = @institution.whatsapp
            - if @institution.email.present?
              .columns.small-offset-2.small-22.medium-offset-1.medium-23.large-offset-2.large-22
                .float-left
                  = image_tag("correo.png")
                .bs.white.float-left
                  &nbsp;Correo electrónico
                  .clearfix
                    &nbsp;
                    = mail_to @institution.email, @institution.email, class: 'email'
            - if @institution.facebook.present?
              .columns.small-offset-2.small-22.medium-offset-1.medium-23.large-offset-2.large-22
                .float-left
                  = image_tag("Facebook.png")
                .bs.white.float-left
                  &nbsp;Facebook
                  .clearfix
                    &nbsp;
                    = mail_to @institution.facebook, @institution.facebook, class: 'email'
            - if @institution.twitter.present?
              .columns.small-offset-2.small-22.medium-offset-1.medium-23.large-offset-2.large-22
                .float-left
                  = image_tag("Twitter.png")
                .bs.white.float-left
                  &nbsp;Twitter
                  .clearfix
                    &nbsp;
                    = mail_to @institution.twitter, @institution.twitter, class: 'email'
