%section
  .row.align-stretch
    .columns.small-24.medium-24.large-12
      .container.chart
        %h2
          Resumen de casos del día #{(Date.current - 1.day).try(:strftime, '%d/%m/%Y')}
        %table.w100
          %thead
            %tr
              - unless current_user.one_institution?
                %th Institución
              %th Vía de ingreso
              %th Hora de ingreso
              %th Resumen del caso
          %tbody
            - if @last_day_expedients.any?
              - @last_day_expedients.each do |exp|
                %tr
                  - unless current_user.one_institution?
                    %td= exp.institution.try(:name)
                  %td= exp.entry_way.try(:name)
                  %td= exp.received_at.try(:strftime, '%I:%M')
                  %td= truncate(exp.comment, length: 50)
            - else
              %tr
                %td{colspan: current_user.one_institution? ? 3 : 4}
                  %center
                    No hubo casos ingresados
        %br
        %center
          = link_to 'Ver todos los casos', panel_expedients_url
    - if @current_year_expedients.try(:any?)
      .columns.small-24.medium-12.large-6
        .container.chart
          %h2
            Casos por dependencia #{Date.current.year}
          %table.w100
            %thead
              %tr
                %th Dependencia
                %th Total de casos
            %tbody
              - @current_year_expedients.each do |k, v|
                %tr
                  %td
                    %center= k.blank? ? 'N/A' : k
                  %td
                    %center= v.size
    - if @management_categories.try(:any?)
      .columns.small-24{ class: current_user.one_institution? ? 'medium-12 large-6' : 'medium-24 large-12' }
        .container.chart
          %h2
            Top 5 categorías/subcategorías
          %table.w100
            %thead
              %tr
                %th Categoría
                %th Subcategorías
                %th Total de gestiones
            %tbody
              - @management_categories.group_by{|mc| mc.kind_s}.each do |k, v|
                - max = 5
                - v.each do |mc|
                  %tr
                    %td= max == 5 ? k : nil
                    %td= mc['name']
                    %td
                      %center= mc['total']
                  - max -= 1
                  - break if max == 0
    .columns.small-24.medium-12.large-12
      .container.chart
        %h2
          Casos vencidos sin comunicación con el usuario
        - if @expired_expedients.any?
          %table.w100
            %thead
              %tr
                %th Fecha de ingreso
                - unless current_user.one_institution?
                  %th Institución
                %th Dependencía
                %th Código de referencia
                %th
            %tbody
              - @expired_expedients.each do |exp|
                %tr
                  %td= l exp.received_at, format: :localized
                  - unless current_user.one_institution?
                    %td= exp.institution.try(:name)
                  %td= exp.branch.try(:name)
                  %td= exp.reference_code
                  %td= link_to('Ver caso', panel_expedient_url(exp))
          %br
          %center= link_to 'Ver todos los casos', panel_expedients_url
        - else
          %p
            No hay casos vencidos
    .columns.small-24.medium-12.large-12
      .container.chart
        %h2
          Gestiones por vencerse
        - if @expired_managements.any?
          %table.w100
            %thead
              %tr
                %th Fecha de creación
                %th Fecha límite de respuesta
                %th Asignado a
                %th Categoría
                %th
            %tbody
              - @expired_managements.each do |mng|
                %tr
                  %td= l mng.created_at, format: :localized2
                  %td= l mng.deadline_at, format: :localized
                  %td= mng.statistics_assigned_names
                  %td= mng.kind_s
                  %td= link_to('Ver gestión', panel_expedient_url(mng.expedient, anchor: "management-#{mng.id}"))
          %br
          %center= link_to 'Ver todos los casos', panel_expedients_url
        - else
          %p
            No hay gestiones por vencerse
