!!!
%html
%head
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %title Sistema de Atención Ciudadana del gobierno de El Salvador
  = csrf_meta_tags
  = stylesheet_link_tag    'panel', media: 'all'
  = javascript_include_tag 'panel'

%body.login
  %header
    .row.align-spaced.align-middle
      .columns.small-20.medium-18.large-6.small-order-2.medium-order-1.large-order-1
        .text-center.responsive
          = link_to root_url, class: 'brand' do
            %figure
              =# image_tag 'transparencia-sv.png'
              %br
              %h1
                Sistema de Atención Ciudadana

  = yield
