.control
  .row.align-middle.align-justify
    .columns.small-24
      %small * Campos obligatorios
= field_set_tag 'Datos del ciudadano, marque anónimo si no posee más información' do
  .control
    .row.align-middle.align-justify
      .columns.small-24.medium-5= f.label :anonymous
      .columns.small-24.medium-19= f.check_box :anonymous, class: 'decorated-checkbox box'
  .anonymous-controls
    .control
      .row.align-middle.align-justify
        .columns.small-24.medium-5= f.label :contact, class: 'required'
        .columns.small-24.medium-19= f.text_field :contact, required: true, data: { anonymous: false }
    .control
      .row.align-middle.align-justify
        .columns.small-24.medium-5= f.label :phone, class: 'required'
        .columns.small-24.medium-19= f.text_field :phone, required: true, data: { anonymous: false }
    .control
      .row.align-middle.align-justify
        .columns.small-24.medium-5= f.label :email
        .columns.small-24.medium-19= f.email_field :email
    .control
      .row.align-middle.align-justify
        .columns.small-24.medium-5= f.label :age
        .columns.small-24.medium-19= f.number_field :age
    .control
      .row.align-middle.align-justify
        .columns.small-24.medium-5= f.label :gender
        .columns.small-24.medium-19= f.select :gender, options_for_select([['Hombre', 'm'], ['Mujer', 'f']], f.object.gender), prompt: true
    .control
      .row.align-middle.align-justify
        .columns.small-24.medium-5= f.label :state_id
        .columns.small-24.medium-19
          = f.collection_select :state_id, State.all, :id, :name, {prompt: 'Seleccione'}, {data: {dependent: '', target: 'select-city', child: 'cities'}}
    .control
      .row.align-middle.align-justify
        .columns.small-24.medium-5= f.label :city_id
        .columns.small-24.medium-19
          = f.grouped_collection_select :city_id, State.all, :cities, :name, :id, :name, {prompt: 'Seleccione'}, {class: 'select-city'}
%br
= field_set_tag 'Datos del caso' do
  .control
    .row.align-middle.align-justify
      .columns.small-24.medium-5= f.label :starting_date, class: 'required'
      .columns.small-24.medium-19= f.datetime_select :received_at, { prompt: { day: 'Día', month: 'Mes', year: 'Año', hour: 'Hora', minute: 'Minuto' } }, class: 'date'
  .control
    .row.align-middle.align-justify
      .columns.small-24.medium-5= f.label :entry_way_id, class: 'required'
      .columns.small-24.medium-19= f.select :entry_way_id, @entry_ways.map{ |i| [i.name, i.id] }, {include_blank: true}, {required: true}

  - if @branchs.any?
    .control
      .row.align-middle.align-justify
        .columns.small-24.medium-5= f.label :branch_id
        .columns.small-24.medium-19= f.collection_select :branch_id, @branchs, :id, :name, {include_blank: 'Seleccione', selected: current_user.uniq_branch.try(:id)}

  .control
    .row.align-middle.align-justify
      .columns.small-24.medium-5= f.label :comment, class: 'required'
      .columns.small-24.medium-19= f.text_area :comment, rows: 10, required: true

  - unless current_user.one_institution?
    .control
      .row.align-middle.align-justify
        .columns.small-24.medium-5= f.label :institution_id, class: 'required'
        .columns.small-24.medium-19= f.select :institution_id, @institutions.map{ |i| [i.name, i.id] }, {include_blank: true}, {required: true}

  .control{ style: f.object.new_record? ? 'display: block;' : 'display: none;'  }
    .row.align-middle.align-justify
      .columns.small-24
        .dz-default.dz-message
          .dropzone-previews-expedient
          %span
            Arrastre o seleccione acá sus archivos
%br
= field_set_tag 'Agregue los siguientes datos, si aplica o los posee' do
  .control
    .row.align-middle.align-justify
      .columns.small-24.medium-5= f.label :happened_at
      .columns.small-24.medium-19= f.datetime_select :happened_at, {prompt: { day: 'Día', month: 'Mes', year: 'Año', hour: 'Hora', minute: 'Minutos' }, default: nil, end_year: Date.current.year, start_year: (Date.current - 10.years).year}, {class: 'wauto'}

  .control
    .row.align-middle.align-justify
      .columns.small-24.medium-5= f.label :place
      .columns.small-24.medium-19= f.text_field :place

  .control
    .row.align-middle.align-justify
      .columns.small-24.medium-5= f.label :national_license_plate
      .columns.small-24.medium-19= f.text_field :national_license_plate

  .control
    .row.align-middle.align-justify
      .columns.small-24.medium-5= f.label :personnel_name
      .columns.small-24.medium-19= f.text_field :personnel_name

  .control
    .row.align-middle.align-justify
      .columns.small-24.medium-5= f.label :process_name
      .columns.small-24.medium-19= f.text_field :process_name
- if f.object.new_record? && !current_user.communicator?
  %br
  = field_set_tag 'Si resolvió el caso de forma inmediata, agregué la gestión que hizo' do
    .control
      .row.align-middle.align-justify
        .columns.small-24.medium-5= f.label :quick_case_1, '¿Se resolvió de forma inmediata?'
        .columns.small-24.medium-19
          = f.radio_button :quick_case, 1, class: 'decorated-radio box item_quickcase'
          = f.label :quick_case_1, 'Sí', class: 'decorated-radio'
          = f.radio_button :quick_case, 0, class: 'decorated-radio box item_quickcase'
          = f.label :quick_case_0, 'No', class: 'decorated-radio'
    .quickcase_controls
      = f.fields_for :managements do |ff|
        .control
          .row.align-middle.align-justify
            .columns.small-24.medium-5= ff.label :kind, 'Categoría', class: 'required'
            .columns.small-24.medium-19
              = ff.select :kind, options_for_select(Management::KIND.map{|k,v| [v, k, {'data-help' => t("help.#{k}")}]}, ff.object.kind), {prompt: 'Seleccione'}, {required: true, data: {dependent: '', child: 'kinds', target: "new-category-management", quickcase: true, with_help: true}}
              = ff.hidden_field :quick_management, value: 1
              .help-text
        - if current_user.one_institution?
          .control
            .row.align-middle.align-justify
              .columns.small-24.medium-5= ff.label :management_category_id, 'Subcategoría', class: 'required'
              .columns.small-24.medium-19
                = ff.select :management_category_id, grouped_options_for_select(ManagementCategory::grouped_options(@item.institution_id), ff.object.management_category_id), {prompt: 'Seleccione'}, {required: true, class: "new-category-management", data: {quickcase: true}}
        .control
          .row.align-middle.align-justify
            .columns.small-24.medium-5= f.label :classification_type, 'Clasificación de cierre', class: 'required'
            .columns.small-24.medium-19
              = f.select :classification_type, options_for_select(Expedient.classification_types.keys.map{ |i| [t(i, scope: 'activerecord.enum.expedient.classification_type'), i] }.tap(&:pop)), {:prompt => "Seleccione una opción"}, {required: true, data: {quickcase: true}}
        .control
          .row.align-middle.align-justify
            .columns.small-24.medium-5= ff.label :justification, 'Resumen de la resolución del caso', class: 'required'
            .columns.small-24.medium-19
              = ff.text_area :comment, rows: 3, required: true, data: {quickcase: true}
              = display_error_for(:justification)
        .control
          .row.align-middle.align-justify
            .columns.small-24.medium-5= f.label :response_1, '¿Se le brindó respuesta al ciudadano?', class: 'required'
            .columns.small-24.medium-19
              = f.radio_button :response, true, class: 'decorated-radio box', required: true, data: {quickcase: true}
              = f.label :response_1, 'Sí', class: 'decorated-radio'
              = f.radio_button :response, false, class: 'decorated-radio box', required: true, data: {quickcase: true}
              = f.label :response_0, 'No', class: 'decorated-radio'
              %p= display_error_for(:response)
        .control.hide#resolution-type-container
          .row.align-middle.align-justify
            .columns.small-24.medium-5= label_tag 'La resolución del caso para el ciudadano fue'
            .columns.small-24.medium-19
              = f.select :resolution_type, options_for_select(Expedient::RESOLUTION_TYPE.invert, f.object.resolution_type), {:prompt => "Seleccione una opción"}, {required: true, data: {required: true}}
              %p
                %small
                  %strong Positiva
                  El caso fue resuelto de forma favorable para el ciudadano
                  %br
                  %strong Negativa
                  El caso fue resuelto de forma desfavorable para el ciudadano
                  %br
                  %strong Parcialmente
                  El caso fue resuelto de forma parcial para el ciudadano
              %p= display_error_for(:resolution_type)
        .control.hide#it-proceeds-container
          .row.align-middle.align-justify
            .columns.small-24.medium-5= f.label :id_proceeds, '¿El caso era procedente?', class: 'required'
            .columns.small-24.medium-19
              = f.radio_button :it_proceeds, 1, class: 'decorated-radio box', data: {required: true}
              = f.label :it_proceeds_1, 'Sí', class: 'decorated-radio'
              = f.radio_button :it_proceeds, 0, class: 'decorated-radio box', data: {required: true}
              = f.label :it_proceeds_0, 'No', class: 'decorated-radio'
              %p
                %small
                  Es
                  %strong procedente
                  si la situación era cierta o tenía razón la persona que presenta el caso
              %p= display_error_for(:it_proceeds)
.control
  .row.align-middle.align-justify
    .columns.small-24
      %small * Campos obligatorios
