.row
  .small-24.medium-12.columns
    - if @item.expedient
      %p
        %i.material-icons flight_land
        Caso redireccionado desde
        %strong= @item.expedient.try(:institution_name)
        , el #{l(@item.created_at, format: :day_and_month)}
        , con la siguiente justificación:
        %p
          = @item.expedient.events.last.justification rescue ''
%h2
  Ficha del caso
= render 'panel/expedients/show_close_options'
.row
  .columns.small-24.medium-12.large-12
    %h2
      Información de contacto
    %strong Fecha de ingreso
    = @item.received_at.try(:strftime, '%d/%m/%Y')
    %br
    %strong Vía de ingreso
    = @item.kind
    %br
    %strong Nombre del ciudadano
    = @item.contact.present? ? @item.contact : 'Anónimo'
    %br
    %strong Correo electrónico
    = @item.email.present? ? @item.email : 'N/A'
    %br
    %strong Teléfono
    = @item.phone.present? ? @item.phone : 'N/A'
    %br
    %strong Edad
    = @item.age || 'N/A'
    %br
    %strong Sexo
    = @item.gender_s
    %br
    %strong Departamento
    = @item.department.try(:name) || 'N/A'
    %br
    %strong Municipio
    = @item.city.try(:name) || 'N/A'
  .columns.small-24.medium-12.large-12
    %h2
      Otra información de interés
    %strong Código de referencia
    = @item.reference_code
    %br
    %strong Dependencia donde sucedió
    = @item.branch.try(:name) || 'N/A'
    %br
    %strong Fecha y hora en la que sucedió
    = @item.happened_at.present? ? l(@item.happened_at, format: :localized) : 'N/A'
    %br
    %strong Lugar donde sucedió
    = @item.place || 'N/A'
    %br
    %strong Placas del vehículo nacional
    = @item.national_license_plate || 'N/A'
    %br
    %strong Nombre del personal involucrado
    = @item.personnel_name || 'N/A'
    %br
    %strong Nombre del proceso
    = @item.process_name || 'N/A'
    %br
    %br
    %strong Total de seguimientos por el ciudadano
    = @item.tracking_count
.row
  .columns
    %p
      %strong
        Comentario
      %br
      = @item.comment
- if @item.assets.any?
  .row
    .columns
      = render @item.assets

.row
  .columns
    %br
    %strong
      Agregar palabras claves al caso, separadas por coma (,)
    = form_for @item, url: tags_panel_expedient_url(@item), html: { method: :post } do |f|
      = f.collection_select :tag_list, @tags, :name, :name, {placeholder: 'adultos,salud,etc'}, {multiple: true, class: 'input-tokens'}
