%br
%h2
  Iniciar proceso
%p
  Estimado/a #{current_user.name}, antes de iniciar con el proceso es necesario que se comunique con el usuario, haciendo uso de los datos de contacto brindados en el caso.
  Si por algún motivo esta comunicación no pudo establecerse, por favor dejar constancia de la razón por la cual no fue posible, se recomienda intentar comunicarse al menos
  %strong 3 veces
  antes de pasar al siguiente proceso.
- if @item.events.failed_attempts.any?
  %ol.list-attempts
    - @item.events.failed_attempts.each do |failed|
      %li
        = "Intento de comunicación fallida realizado el #{failed.created_at.try(:strftime, '%d/%m/%Y')} por #{failed.user.try(:name)}: #{failed.justification}."
%br
= form_for @event, url: panel_expedient_events_path(@item), html: { class: 'form-horizontal' } do |f|
  - if @item.anonymous?
    %p
      El caso fue ingresado de forma anónima, puede darle clic a
      %strong PROCESAR
      para iniciar las gestiones.
    = f.hidden_field :start_at, value: Time.current
    = f.hidden_field :justification, value: 'Caso recibido de forma anónima'
  - else
    .control
      .row.align-middle.align-justify
        .columns.small-5= f.label :failed_attempt
        .columns.small-18= f.check_box :failed_attempt, class: 'decorated-checkbox box'
    .control
      .row.align-middle.align-justify
        .columns.small-5= f.label :start_at, class: 'required'
        .columns.small-18= f.datetime_select :start_at, { prompt: { day: 'Día', month: 'Mes', year: 'Año', hour: 'Hora', minute: 'Minuto' } }, class: 'date'
    .control
      .row.align-middle.align-justify
        .columns.small-5= f.label :justification, 'Comentario', class: 'required'
        .columns.small-18= f.text_area :justification, rows: 3, required: true
    .control
      .row.align-middle.align-justify
        .columns.small-5
        .columns.small-18
          %small * Campos requeridos
  .control
    .row.align-center.align-justify
      .columns.small-5
      .columns.small-18
        = f.button type: :submit, data: { disable_with: 'Procesando...' } do
          %i.material-icons work
          Procesar
%br
%h2
  Redireccionar caso
%p
  Si este caso no le compete a su institución, puede redireccionarlo a otra institución haciendo uso del siguiente formulario:
%br
= form_for :expedient, url: redirect_panel_expedient_path(@item), html: { class: 'form-horizontal', method: :post} do |f|
  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :institution_id, 'Institución', class: 'required'
      .columns.small-18= f.collection_select :institution_id, Institution.visible.order(:name).where.not(id: @item.institution_id), :id, :name, {include_blank: 'Seleccione'}, {class: "form-control", required: true}
  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :justification, 'Instrucciones al enlace (opcional)'
      .columns.small-18= f.text_area :justification, rows: 3
  .control
    .row.align-middle.align-justify
      .columns.small-5
      .columns.small-18
        %small * Campos requeridos
  .control
    .row.align-center.align-justify
      .columns.small-5
      .columns.small-18
        = f.button type: :submit, data: { disable_with: 'Redireccionando...' } do
          %i.material-icons forward
          Redireccionar
%br
%h2
  Si resolvió el caso de forma inmediata, agregué la gestión que hizo
= form_for @item, as: :item, url: panel_expedient_path(@item), html: { class: 'form-horizontal', method: :patch} do |f|
  .control
    .row.align-middle.align-justify
      .columns.small-24.medium-5= f.label :quick_case_1, '¿Se resolvió de forma inmediata?'
      .columns.small-24.medium-19
        = f.radio_button :quick_case, 1, class: 'decorated-radio box item_quickcase'
        = f.label :quick_case_1, 'Sí', class: 'decorated-radio'
        = f.radio_button :quick_case, 0, class: 'decorated-radio box item_quickcase'
        = f.label :quick_case_0, 'No', class: 'decorated-radio'
  .quickcase_controls
    = f.fields_for :managements do |ff|
      .control
        .row.align-middle.align-justify
          .columns.small-24.medium-5= ff.label :kind, 'Categoría', class: 'required'
          .columns.small-24.medium-19
            = ff.select :kind, options_for_select(Management::KIND.map{|k,v| [v, k, {'data-help' => t("help.#{k}")}]}, ff.object.kind), {prompt: 'Seleccione'}, {required: true, data: {dependent: '', child: 'kinds', target: "new-category-management", quickcase: true, with_help: true}}
            = ff.hidden_field :quick_management, value: 1
            .help-text
      .control
        .row.align-middle.align-justify
          .columns.small-24.medium-5= ff.label :management_category_id, 'Subcategoría', class: 'required'
          .columns.small-24.medium-19
            = ff.select :management_category_id, grouped_options_for_select(ManagementCategory::grouped_options(@item.institution_id), ff.object.management_category_id), {prompt: 'Seleccione'}, {required: true, class: "new-category-management", data: {quickcase: true}}
      .control
        .row.align-middle.align-justify
          .columns.small-24.medium-5= f.label :classification_type, 'Clasificación de cierre', class: 'required'
          .columns.small-24.medium-19
            = f.select :classification_type, options_for_select(Expedient.classification_types.keys.map{ |i| [t(i, scope: 'activerecord.enum.expedient.classification_type'), i] }.tap(&:pop)), {:prompt => "Seleccione una opción"}, {required: true, data: {quickcase: true}}
      .control
        .row.align-middle.align-justify
          .columns.small-24.medium-5= ff.label :comment, 'Resumen de la resolución del caso', class: 'required'
          .columns.small-24.medium-19
            = ff.text_area :comment, rows: 3, required: true, data: {quickcase: true}
            = display_error_for(:comment)
      .control
        .row.align-middle.align-justify
          .columns.small-24.medium-5= f.label :response_1, '¿Se le brindó respuesta al ciudadano?', class: 'required'
          .columns.small-24.medium-19
            = f.radio_button :response, true, class: 'decorated-radio box', required: true, data: {quickcase: true}
            = f.label :response_1, 'Sí', class: 'decorated-radio'
            = f.radio_button :response, false, class: 'decorated-radio box', required: true, data: {quickcase: true}
            = f.label :response_0, 'No', class: 'decorated-radio'
            %p= display_error_for(:response)
      .control.hide#resolution-type-container
        .row.align-middle.align-justify
          .columns.small-24.medium-5= label_tag 'La resolución del caso para el ciudadano fue'
          .columns.small-24.medium-19
            = f.select :resolution_type, options_for_select(Expedient::RESOLUTION_TYPE.invert, f.object.resolution_type), {:prompt => "Seleccione una opción"}, {required: true, data: {required: true}}
            %p
              %small
                %strong Positiva
                El caso fue resuelto de forma favorable para el ciudadano
                %br
                %strong Negativa
                El caso fue resuelto de forma desfavorable para el ciudadano
                %br
                %strong Parcialmente
                El caso fue resuelto de forma parcial para el ciudadano
            %p= display_error_for(:resolution_type)
      .control.hide#it-proceeds-container
        .row.align-middle.align-justify
          .columns.small-24.medium-5= f.label :id_proceeds, '¿El caso era procedente?', class: 'required'
          .columns.small-24.medium-19
            = f.radio_button :it_proceeds, 1, class: 'decorated-radio box', data: {required: true}
            = f.label :it_proceeds_1, 'Sí', class: 'decorated-radio'
            = f.radio_button :it_proceeds, 0, class: 'decorated-radio box', data: {required: true}
            = f.label :it_proceeds_0, 'No', class: 'decorated-radio'
            %p
              %small
                Es
                %strong procedente
                si la situación era cierta o tenía razón la persona que presenta el caso
            %p= display_error_for(:it_proceeds)
      .control
        .row.align-center.align-justify
          .columns.small-5
          .columns.small-18
            -# = f.button type: :submit, data: { disable_with: 'Guardando...' } do
            = f.button type: :submit do
              %i.material-icons save
              Cerrar caso
