- if @process_event
  %div
    %br
    %br
    %strong
      = @process_event.try(:user).try(:name)
    proceso el caso con el siguiente comentario:
    %p
      = @process_event.justification
    %br

%h2
  Gestión del caso
- if can?(:manage, @item) && !@item.is_closed?
  %p
    Puede agregar la cantidad de gestiones que sean necesarias para resolver el caso y asignados a diferentes áreas.
  .text-right
    = link_to '#', 'data-open' => 'managementModal', class: 'btn blue medium' do
      %i.material-icons playlist_add
      Agregar gestión
  %br


  / Management Modal
  .reveal#managementModal{'data-reveal' => true}
    %h2 Complete la siguiente información
    .form-popup
      = form_for @management, url: panel_expedient_managements_url(@item), html: { id: 'dropzone-expedients', class: 'dropzone', data: {preview: '.dropzone-previews-management'} } do |f|
        .control
          .row.align-middle.align-justify
            .columns.small-5= f.label :assigned_ids, 'Elegir enlaces para la gestión'
            .columns.small-18= f.collection_select :assigned_ids, User.accessible_by(current_ability).where.not(id: current_user.id), :id, :name, { }, {class: 'input-tags', multiple: true, style: 'width: 100%;'}
        .control
          .row.align-middle.align-justify
            .columns.small-5= f.label :kind, class: 'required'
            .columns.small-18
              = f.select :kind, options_for_select(Management::KIND.map{|k,v| [v, k, {'data-help' => t("help.#{k}")}]}), {prompt: 'Seleccione'}, {required: true, data: {dependent: '', target: "new-management-#{@item.id}", with_help: true}}
              .help-text
              = display_error_for(:kind)
        .control
          .row.align-middle.align-justify
            .columns.small-5= f.label :management_category_id, class: 'required'
            .columns.small-18
              = f.select :management_category_id, grouped_options_for_select(ManagementCategory::grouped_options(@item.institution_id)), {prompt: 'Seleccione'}, {required: true, class: "new-management-#{@item.id}"}
              = display_error_for(:management_category_id)
        .control
          .row.align-middle.align-justify
            .columns.small-5= f.label :deadline_at, 'Fecha tentativa de entrega', class: 'required'
            .columns.small-18
              = f.text_field :deadline_at, class: 'min-datepicker', value: @delivery_deadline.try(:strftime, '%Y-%m-%d')
              %small Para tramitar y recibir respuesta de la gestión, tiene #{@response_days} días hábiles, siempre puede cambiar esta fecha dejando constancia en los comentarios de las ampliaciones realizadas.
        .control
          .row.align-middle.align-justify
            .columns.small-5= f.label :comment, class: 'required'
            .columns.small-18
              = f.text_area :comment, required: true, rows: 5
              = display_error_for(:comment)
        .control
          .row.align-middle.align-justify
            .columns.small-24
              .dz-default.dz-message
                .dropzone-previews-management
                %span
                  Arrastre o seleccione acá sus archivos
        .control
          .row.align-middle.align-justify
            .columns.small-24
              %small * Campos requeridos
        .control
          .row.align-center.align-justify
            .columns.small-5
            .columns.small-18
              = link_to '#', data: { close: '' }, class: 'm-r-15' do
                %i.material-icons close
                Cancelar
              = f.button type: :submit, data: { disable_with: 'Por favor espere...' } do
                %i.material-icons input
                Agregar
  - if @management && @management.errors.any?
    :javascript
      $(function(){
        $('#managementModal').foundation('open');
      });
