.row
  .small-24.columns
    .text-right
      = link_to panel_expedient_url(@item, format: :pdf), target: '_blank' do
        %i.material-icons local_printshop
        Ficha
      = link_to panel_expedient_url(@item, managements: true, format: :pdf), target: '_blank', class: 'm-l-15' do
        %i.material-icons local_printshop
        Gestión
      = link_to documents_panel_expedient_url(@item), target: '_blank', class: 'm-l-15' do
        %i.material-icons archive
        Todos los archivos
      - if can?(:manage, Expedient)
        = link_to edit_panel_expedient_url(@item), class: 'm-l-15' do
          %i.material-icons mode_edit
          Editar

      - if @item.process? || (@item.new? && @item.managements.first.id.nil?)
        = link_to '#', 'data-open' => 'closeModal', class: 'm-l-15' do
          %i.material-icons lock
          Cerrar
    %br
- if @item.process? or (@item.new? && @item.managements.first.id.nil?)
  / Modal
  .reveal#closeModal{'data-reveal' => true}
    %h2 Cerrar caso
    .form
      = form_for @event, url: panel_expedient_events_path(@item), html: { class: 'form-horizontal' } do |f|
        .control
          .row.align-middle.align-justify
            .columns.small-24.medium-5= f.label :start_at, 'Fecha de cierre', class: 'required'
            .columns.small-24.medium-19= f.datetime_select :start_at, { prompt: { day: 'Día', month: 'Mes', year: 'Año', hour: 'Hora', minute: 'Minuto' } }, class: 'date'
        .control
          .row.align-middle.align-justify
            .columns.small-24.medium-5= f.label :classification_type, "Clasificación de cierre", class: "required"
            - if @item.process?
              .columns.small-24.medium-19= f.select :classification_type, options_for_select(Expedient.classification_types.keys.map{ |i| [t(i, scope: 'activerecord.enum.expedient.classification_type'), i] }.tap(&:pop)), {:prompt => "Seleccione una opción"}, {required: true}
            - else
              .columns.small-24.medium-19= f.select :classification_type, options_for_select(Expedient::CLASSIFICATION_TYPES_4_NEW.keys.map{ |i| [t(i, scope: 'activerecord.enum.expedient.classification_type'), i] }), {:prompt => "Seleccione una opción"}, {required: true}
        .control
          .row.align-middle.align-justify
            .columns.small-24.medium-5= f.label :justification, 'Resumen de la resolución del caso', class: 'required'
            .columns.small-24.medium-19
              = f.text_area :justification, rows: 3, required: true
              = display_error_for(:justification)
        .control
          .row.align-middle.align-justify
            .columns.small-24.medium-5= label_tag '¿Se le brindó respuesta al ciudadano?'
            .columns.small-24.medium-19
              = f.radio_button :response, 1, class: 'decorated-radio box'
              = f.label :response_1, 'Sí', class: 'decorated-radio'
              = f.radio_button :response, 0, class: 'decorated-radio box'
              = f.label :response_0, 'No', class: 'decorated-radio'
              %p= display_error_for(:response)
        - if @item.needs_resolution_type?
          .control
            .row.align-middle.align-justify
              .columns.small-24.medium-5= label_tag 'La resolución del caso para el ciudadano fue'
              .columns.small-24.medium-19
                = f.select :resolution_type, options_for_select(Expedient::RESOLUTION_TYPE.invert, @event.resolution_type), {:prompt => "Seleccione una opción"}, {required: true}
                %p
                  %small
                    %strong Positiva
                    El caso fue resuelto de forma favorable para el ciudadano
                    %br
                    %strong Negativa
                    El caso fue resuelto de forma desfavorable para el ciudadano
                    %br
                    %strong Parcialmente
                    El caso fue resuelto de forma parcial para el ciudadano
                %p= display_error_for(:resolution_type)
        - if @item.needs_it_proceeds?
          .control
            .row.align-middle.align-justify
              .columns.small-24.medium-5= label_tag '¿El caso era procedente?'
              .columns.small-24.medium-19
                = f.radio_button :it_proceeds, 1, class: 'decorated-radio box'
                = f.label :it_proceeds_1, 'Sí', class: 'decorated-radio'
                = f.radio_button :it_proceeds, 0, class: 'decorated-radio box'
                = f.label :it_proceeds_0, 'No', class: 'decorated-radio'
                %p
                  %small
                    Es
                    %strong procedente
                    si la situación era cierta o tenía razón la persona que presenta el caso
                %p= display_error_for(:it_proceeds)

        .control
          .row.align-center.align-justify
            .columns.small-24.medium-5
            .columns.small-24.medium-19
              = link_to '#', data: { close: '' }, class: 'm-r-15' do
                %i.material-icons close
                Cancelar
              = f.button type: :submit, data: { disable_with: 'Guardando...' } do
                %i.material-icons save
                Guardar

- if @event && @event.closed? && @event.errors.any?
  :javascript
    $(function(){
      $('#closeModal').foundation('open');
    })
