%script{ type: 'text/ng-template', id: '/clear-filters.html' }
  .clear-filters
    = link_to nil, 'ng-click' => 'clearFilters($event)' do
      %i.material-icons clear
      Remover filtros

%script{ type: 'text/ng-template', id: '/date-filter-from-template.html' }
  .date-range-picker-container
    %span{ 'ng-click' => 'showCalendarPicker($event)', 'ng-class' => "string2date(params.filter()[name]) ? 'has-content' : null" }
      {{ (string2date(params.filter()[name]) | date:'dd/MM/yyyy') || 'Desde' }}
    %mighty-datepicker.date-range-picker{ name: '{{name}}', 'ng-disabled' => '$filterRow.disabled', 'ng-model' => "params.filter()[name]", options: 'dateRangePickerOptions', 'range-from' => 'true', before: "params.filter()[name.replace('_gteq', '_lteq')]" }

%script{ type: 'text/ng-template', id: '/date-filter-to-template.html' }
  .date-range-picker-container
    %span{ 'ng-click' => 'showCalendarPicker($event)', 'ng-class' => "string2date(params.filter()[name]) ? 'has-content' : null" }
      {{ (string2date(params.filter()[name]) | date:'dd/MM/yyyy') || 'Hasta' }}
    %mighty-datepicker.date-range-picker{ name: '{{name}}', 'ng-disabled' => '$filterRow.disabled', 'ng-model' => "params.filter()[name]", options: 'dateRangePickerOptions', 'range-to' => 'true', after: "params.filter()[name.replace('_lteq', '_gteq')]" }
.table-container
  %table{ ng: { table: 'table.tableParams', table_columns_binding: 'table.cols' }}
    %tr{ ng: { repeat: 'item in $data' }}
      -# %td
      -#   %input{ type: :checkbox, class: 'decorated-checkbox box', 'checklist-model' => 'checkboxes.ids', 'checklist-value' => 'item.id' }
      %td{ data: { title: '', filter: "{ actions: '/clear-filters.html' }" }}

        .action-buttons
          = link_to "#{model.to_s.pluralize.underscore}/{{ item.id }}", class: 'text-primary', target: '_blank' do
            %i.material-icons visibility
            Ver

          - if current_user.has_role?(:admin)
            = link_to "#{model.to_s.pluralize.underscore}/{{ item.id }}", class: 'text-danger', method: :delete, data: { confirm: '¿Está seguro?' } do
              %i.material-icons delete
              Eliminar

      - unless current_user.one_institution?
        %td{ data: { title: "'Institución'"        }, 'ng-if' => 'true', filter: "{ institution_name_icont: 'text' }", sortable: "'institution_name'" } {{ item.institution_name }}
      %td{ data: { title: "'Dependencias'"         }, 'ng-if' => 'true', filter: "{ branch_name_icont: 'text'      }", sortable: "'branch_name'"      } {{ item.branch_name }}
      %td{ data: { title: "'Estado'"               }, 'ng-if' => 'true', filter: "{ state_eq: 'select'             }", 'filter-data' => "#{expedient_state_for_filter}", sortable: "'state_s'" } {{ item.state_s }}
      %td{ data: { title: "'Fecha de ingreso'" }, 'ng-if' => 'true', filter: "table.dateFilter('received_at')", sortable: "'received_at'" } {{ item.received_at | date:'dd/MM/yy hh:mm a' }}
      %td{ data: { title: "'Correlativo'"          }, 'ng-if' => 'true', filter: "{ correlative_icont: 'text'      }", sortable: "'correlative'"      } {{ item.correlative }}
      %td{ data: { title: "'Palabras claves'"      }, 'ng-if' => 'true', filter: "{ tags_name_icont: 'text'        }", sortable: "'tags'"             } {{ item.tags_string }}
      %td{ data: { title: "'Código de referencia'" }, 'ng-if' => 'true', filter: "{ reference_code_icont: 'text'   }", sortable: "'reference_code'"   } {{ item.reference_code }}
      - if can?(:manage, Expedient)
        %td{ data: { title: "'Contacto'" }, 'ng-if' => 'true', filter: "{ contact_icont: 'text' }", sortable: "'contact'" } {{ item.contact }}
        %td{ data: { title: "'Teléfono'" }, 'ng-if' => 'true', filter: "{ phone_icont: 'text' }", sortable: "'phone'" } {{ item.phone }}
        %td{ data: { title: "'Comentario'" }, 'ng-if' => 'true', filter: "{ comment_icont: 'text' }", sortable: "'comment'" } {{ item.comment }}
