.header
  .row.align-middle
    .columns
      %h1
        %i.material-icons input
        = t model.to_s.underscore, scope: 'activerecord.models', count: 1
    .columns.shrink
      - unless @item.new_record?


        = link_to url_for(action: :new) do
          %i.material-icons add_circle_outline
          %br
          Nuevo

        - if can?(:destroy, Expedient)
          = link_to url_for(action: :destroy), method: :delete, data: { confirm: '¿Está seguro?' } do
            %i.material-icons.danger delete
            %br
            Eliminar

.breacrumb
  = render_breadcrumbs separator: ' / '

.wrapper
  .row.align-center
    .columns.large-16
      .container
        - if @item.errors.any?
          .alert.error
            No se pudo guardar el registro, por favor, revise los campos del formulario

        - if flash[:saved]
          .alert.success
            Registro guardado correctamente

        = form_for [:panel, @item], as: :item, html: {  class: 'dropzone', data: {preview: ".dropzone-previews-expedient"} } do |f|
          .form

            = render partial: 'form', locals: { f: f }

            .control
              .row.align-center.align-justify
                .columns.small-5
                .columns.small-18
                  = f.button type: :submit, data: { disable_with: 'Guardando...' } do
                    %i.material-icons save
                    Guardar
