%section{ ng: { controller: 'tableController as table' }}
  .header
    .row.align-middle
      .columns
        %h1
          %i.material-icons list
          = t model.to_s.underscore, scope: 'activerecord.models', count: :many
      .columns.shrink
        = link_to url_for(action: :new) do
          %i.material-icons add_circle_outline
          Nuevo caso

  .breacrumb
    = render_breadcrumbs separator: ' / '

  .container

    - if flash[:destroyed]
      .alert.success
        Registro eliminado correctamente
    - else flash[:destroyed]
      - unless flash[:errors].nil?
        - if flash[:errors].any?
          .alert.error
            %ul
              - flash[:errors].each do |e|
                %li
                  = "#{e}"

    = render partial: 'actions'
    = render partial: 'table'
