.header
  .row.align-middle
    .columns
      %h1
        %i.material-icons input
        = t model.to_s.underscore, scope: 'activerecord.models', count: 1
    .columns.shrink
      - if can?(:manage, @item)
        = link_to new_panel_expedient_url do
          %i.material-icons add_circle_outline
          %br
          Nuevo

.breacrumb
  = render_breadcrumbs separator: ' / '

.wrapper
  .row.align-center
    .columns.large-24
      .container.m-b-0
        .form
          - if @item.errors.any?
            .alert.error
              No se pudo guardar el registro, por favor, revise los campos del formulario
          - if flash[:saved]
            .alert.success
              Registro actualizado correctamente
          - if can?(:manage, @item) or can?(:view, @item)
            = render 'panel/expedients/show_general_info'
          - if @item.new? && can?(:manage, @item)
            = render 'panel/expedients/show_management_new'
          - else
            = render 'panel/expedients/show_management_process'

= render @managements
/ TODO change location later
- if @item.redirected?
  .wrapper
    .row.align-center
      .columns.large-24
        .container
          .row
            .columns
              .form
                %i.material-icons flight_takeoff
                Caso redireccionado a
                %strong= @new_expedient.institution.try(:name) rescue ''
                , el #{l(@new_expedient.created_at, format: :day_and_month)}
                - if @redirect_event.justification.present?
                  , con las siguientes instrucciones:
                  %p
                    = @redirect_event.try(:justification)
- if @item.closed?

  .wrapper{ id: "close-expedient-area" }
    .row.align-center
      .columns.large-24
        .container
          .row
            .columns.small-24.medium-4
              .closed-date
                %strong
                  = l(@closed_info.created_at, format: :small)
                %small
                  = l(@closed_info.created_at, format: :hour)
            .columns.small-24.medium-20
              .closed-info
                .form
                  %h2
                    Resolución del caso
                - if @item.classification_type
                  %strong:
                    Clasificación:
                  = t(@item.classification_type, scope: 'activerecord.enum.expedient.classification_type')
                  %br
                %strong
                  = @closed_info.user.name
                cerro el caso con la siguiente justificación:
                %br
                %br
                %p
                  = @closed_info.justification
                - if can?(:manage, @item) and can?(:modify, @item)
                  .text-right.form
                    = link_to 'javascript:void(0)', 'data-open' => "editJustification", class: 'btn m-l-15' do
                      %i.material-icons edit
                      Editar el resumen de cierre del caso
                  %br
  .reveal#editJustification{'data-reveal' => true}
    %h2 Cerrar caso
    .form
      = form_for @closed_info, url: panel_expedient_event_path(@item, @closed_info), html: { class: 'form-horizontal' } do |f|
        .control
          .row.align-middle.align-justify
            .columns.small-24.medium-5= f.label :classification_type, "Clasificación de cierre", class: "required"
            - if @managements.size > 0
              .columns.small-24.medium-19= f.select :classification_type, options_for_select(Expedient.classification_types.keys.map{ |i| [t(i, scope: 'activerecord.enum.expedient.classification_type'), i] }.tap(&:pop), @item.classification_type), {:prompt => "Seleccione una opción"}, {required: true}
            - else
              .columns.small-24.medium-19= f.select :classification_type, options_for_select(Expedient::CLASSIFICATION_TYPES_4_NEW.keys.map{ |i| [t(i, scope: 'activerecord.enum.expedient.classification_type'), i] }, @item.classification_type), {:prompt => "Seleccione una opción"}, {required: true}



        .control
          .row.align-middle.align-justify
            .columns.small-24.medium-5= f.label :justification, 'Resumen de la resolución del caso', class: 'required'
            .columns.small-24.medium-19
              = f.text_area :justification, rows: 3, required: true
              = display_error_for(:justification)
        .control
          .row.align-middle.align-justify
            .columns.small-24.medium-5= label_tag '¿Se le brindó respuesta al ciudadano?'
            .columns.small-24.medium-19
              = f.radio_button :response, 1, checked: @item.response, class: 'decorated-radio box'
              = f.label :response_1, 'Sí', class: 'decorated-radio'
              = f.radio_button :response, 0, checked: !@item.response, class: 'decorated-radio box'
              = f.label :response_0, 'No', class: 'decorated-radio'
              %p= display_error_for(:response)
        - if @item.needs_resolution_type?
          .control
            .row.align-middle.align-justify
              .columns.small-24.medium-5= label_tag 'La resolución del caso para el ciudadano fue'
              .columns.small-24.medium-19
                = f.select :resolution_type, options_for_select(Expedient::RESOLUTION_TYPE.invert, @item.resolution_type), {:prompt => "Seleccione una opción"}, {required: true}
                %p
                  %small
                    %strong Positiva
                    El caso fue resuelto de forma favorable para el ciudadano
                    %br
                    %strong Negativa
                    El caso fue resuelto de forma desfavorable para el ciudadano
                    %br
                    %strong Parcialmente
                    El caso fue resuelto de forma parcial para el ciudadano
                %p= display_error_for(:resolution_type)
        - if @item.needs_it_proceeds?
          .control
            .row.align-middle.align-justify
              .columns.small-24.medium-5= label_tag '¿El caso era procedente?'
              .columns.small-24.medium-19
                = f.radio_button :it_proceeds, 1, checked: @item.it_proceeds == 1, class: 'decorated-radio box'
                = f.label :it_proceeds_1, 'Sí', class: 'decorated-radio'
                = f.radio_button :it_proceeds, 0, checked: @item.it_proceeds == 0, class: 'decorated-radio box'
                = f.label :it_proceeds_0, 'No', class: 'decorated-radio'
                %p
                  %small
                    Es
                    %strong procedente
                    si la situación era cierta o tenía razón la persona que presenta el caso
                %p= display_error_for(:it_proceeds)
        .control
          .row.align-center.align-justify
            .columns.small-24.medium-5
            .columns.small-24.medium-19
              = link_to '#', data: { close: '' }, class: 'm-r-15' do
                %i.material-icons close
                Cancelar
              = f.button type: :submit, data: { disable_with: 'Guardando...' } do
                %i.material-icons save
                Actualizar

  - if @closed_info && @closed_info.closed? && @closed_info.errors.any?
    :javascript
      $(function(){
        $('#editJustification').foundation('open');
      })

.wrapper
  .container
    .form
      .row
        .small-24.columns
          %h2
            Acciones
          .text-right
            = link_to panel_expedient_url(@item, format: :pdf), target: '_blank' do
              %i.material-icons local_printshop
              Ficha
            = link_to panel_expedient_url(@item, managements: true, format: :pdf), target: '_blank', class: 'm-l-15' do
              %i.material-icons local_printshop
              Gestión
            = link_to documents_panel_expedient_url(@item), target: '_blank', class: 'm-l-15' do
              %i.material-icons archive
              Todos los archivos
            - if can?(:manage, Expedient)
              = link_to edit_panel_expedient_url(@item), class: 'm-l-15' do
                %i.material-icons mode_edit
                Editar

            - if @item.process? || (@item.new? && @item.managements.first.id.nil?)
              = link_to '#', 'data-open' => 'closeModal', class: 'm-l-15' do
                %i.material-icons lock
                Cerrar
